.tray {
    top: 0;
    right: 10px;
    z-index: 9;
    position: absolute;
}

.tray img {
    width: 100px;
    cursor: pointer;
}
.cb-mt-32{
    margin-top: -32px;
}
.changestyle{
    display: none;
}
   @media (min-width: 768px) {
    .tray {
        right: 0px;
        left: auto;
        top: 14%;
        bottom: auto;
        position: fixed!important;
    }

    .tray img {
        width: 100px;
        cursor: pointer;
    }
}
@media (max-width: 600px) {
    .tray {
        left: 0px;
        top: 16%;
        position: absolute;
    }
    .mb-flex-cb{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tray img{
        width: 86px;
        margin-right: -10px;
    }
}