<div class="position-absolute tray">
    <div class="p-md-2 mb-flex-cb">
      <div data-bs-toggle="modal" data-bs-target="#popModalDesktop" class="p-md-2">
        <img class="cb-mt-32" src="../assets/images/side-icon-2.png">
      </div>

      <!-- <img src="../assets/images/side-icon-2.png" id="test" ng-click="toggleChild()"/> -->

      <div data-bs-toggle="modal" data-bs-target="#wheel" class="p-md-2">
        <img class="cb-mt-32" src="../assets/images/side-icon-1.png">
      </div>
      
      <div class="p-md-2" data-bs-toggle="modal" data-bs-target="#sector">
        <img class="cb-mt-32" src="../assets/images/side-icon-3.png">
      </div>
      <div class="p-md-2" data-bs-toggle="modal" data-bs-target="#cornerSquare">
        <img class="cb-mt-32" src="../assets/images/side-icon-4.png">
      </div>
    </div>
 </div>

 
 <!-- <script>
  function toggleChild() {
    var img1 = "../assets/images/side-icon-2.png",
        img2 = "../assets/images/side-icon-1.png";
    var imgElement = document.getElementById('test');
    
    imgElement.src = (imgElement.src === img1)? img2 : img1;
  }
</script> -->