<div class="content" id="content">
   

   <div class="video-player row position-relative m-auto">
      <div class="position-relative p-0">
         <app-videoplayer class="p-0"></app-videoplayer>

         <div *ngIf="state == 'open'" class="position-absolute w-100 h-100 top-0" style="z-index: 9999;">   
            <!-- <h4 class="who-wins position-absolute top-50 start-50 translate-middle">
               WINNER {{GameWinner}}
            </h4> -->
         </div>
   
         <div style="display: none;" class="position-absolute top-0 start-0 m-2">
            <svg id="animated" viewBox="0 0 100 100" style="background: #053755; border-radius: 50%;">
               <circle cx="50" cy="50" r="40" stroke-width="10" stroke="#92ffd1" fill="none" style="stroke-dasharray: 3;"></circle>
               <path id="progress" stroke-width="12" stroke="#053755" fill="none" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" stroke-linecap="butt">
               </path>
               <circle cx="50" cy="50" r="49.5" stroke-width="3" stroke="#92ffd1" fill="none" style="filter: drop-shadow(0px 0px 3px #92ffd1);"></circle>
              <text class="timer" id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="30" style="text-shadow: 0 0 2px #92ffd1, 0 0 60px #92ffd1, 0 0 13px #92ffd1;" fill="#92FFD1">{{timeLeft}}</text>
             </svg>
            <div class="text-center p-1 blink mt-1 d-block d-md-none"><img src="../assets/images/live.svg" width="35"></div>
         </div>

         <div class="cb-timer-showcase">
            <h2 class="timer" id="count" style="font-family: Casino, sans-serif; color: #fff; font-size: 22px; margin: 0;margin-left: 12px;margin-top: 10px;">60</h2>
         </div>
         <img class="cb-live-showcase" src="../../../assets/images/live-showcase.svg" alt="">
         <div class="position-absolute top-0 end-0 d-none d-md-block m-2">
            <div class="text-center p-1 blink"><img src="../assets/images/live.svg" width="50"></div>
         </div>

         <div class="desktop-only">
            <app-action-tray></app-action-tray>
         </div>

<app-how-to-play></app-how-to-play>
   
         <div class="position-absolute agent-logo" style="display: none;">
            <img src="../assets/images/supernowa 3d logo.png">
         </div>
      </div>

      <div class="game-details row w-100 m-auto justify-content-center bottom-0">
         <div class="text-center text-uppercase p-1 p-md-2 newGameText" *ngIf="state == 'new'">
            New Game Starting
         </div>
         <div style="position: relative;display: flex;justify-content: center;" class="betResult desktop-only" *ngIf="state == 'bet' || state == 'open'">
            <div class="bet-placed-container">
                <a href="#" class="bet-placed-text">Bet Placed!</a>
             </div>
            
            <div style="padding: 0 !important; margin: 0 !important; opacity: 0.3; margin-right: 15px !important;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <p>Dragon</p>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 !important; opacity: 0.3; margin-left: 15px !important;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <p>Tiger</p>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
         </div>

         <!-- -->
         <div style="position: relative;" class="betResult mobile-only" *ngIf="state == 'bet' || state == 'open'" >
            <div class="bet-placed-container">
               <a href="#" class="bet-placed-text">Bet Placed!</a>
            </div>
            <div style="margin: 0 !important; opacity: 0.3;" class="mb-flex">
               <div style="display: flex;">
                  <p>Dragon</p>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                        <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                        </div>
                        <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                        </div>
                     </div>
                  </div>
               </div>
               <div style="display: flex;">
                  <p>Tiger</p>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                        <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                        </div>
                        <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
   
   <div class="game-cb-container desktop-only">
      <div class="cb-first-layer">
         <div class="circle-blue-blur"></div>
         <div class="btn-small-blur1"></div>
         <div class="btn-small-blur2"></div>
         <div class="btn-small-blur3"></div>
         <div class="btn-small-blur4"></div>
         <div class="game-btn-container">
            <div class="col-cb col-left">
               <div class="col-flex first-top-bg br-24"> 
                  <div class="second-section b-bl-20">
                     <div class="second-section-blur-effect b-bl-20"></div>
                     <div class="second-section-bg">
                        <h4 style="margin-bottom: 5px; text-shadow: 0px 0px 3px #ffffff;">Dragon</h4>
                        <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;margin-top: 10px;">
                           <div style="width: 100%;">
                              <h4 style="font-size: 12px;">ODDS</h4>
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                           <div style="width: 100%;">
                              <h4 style="font-size: 12px;">P/L</h4>
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="second-section">
                     <div class="second-section-blur-effect"></div>
                     <div class="second-section-bg">
                        <h4 style="margin-bottom: 5px; text-shadow: 0px 0px 3px #ffffff;">Tie</h4>
                        <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;margin-top: 10px;">
                           <div style="width: 100%;">
                              <h4 style="font-size: 12px;">ODDS</h4>
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                           <div style="width: 100%;">
                              <h4 style="font-size: 12px;">P/L</h4>
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="second-section br-32">
                     <div class="second-section-blur-effect br-32"></div>
                     <div class="second-section-bg">
                        <h4 style="margin-bottom: 5px; text-shadow: 0px 0px 3px #ffffff;">Tiger</h4>
                        <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;margin-top: 10px;">
                           <div style="width: 100%;">
                              <h4 style="font-size: 12px;">ODDS</h4>
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                           <div style="width: 100%;">
                              <h4 style="font-size: 12px;">P/L</h4>
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-cb col-mid">
               <div class="coin-left-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
               <div class="coin-right-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
                <div class="mid-circle">
                   <div class="coin-cirle">
                      <div class="coin-cb coin-1"><p>20000</p></div>
                      <div class="coin-cb coin-2"><p>5000</p></div>
                      <div class="coin-cb coin-3"><p>50k</p></div>
                      <div class="custom-cb-coin"><div class="coin-cb coin-4"><p>CUSTOM</p></div></div>
                      <div class="coin-cb coin-5"><p>50</p></div>
                      <div class="coin-cb coin-6"><p>300</p></div>
                      <div class="coin-cb coin-7"><p>9000</p></div>
                   </div>
                </div>
                <div class="bet-cb-btn">
                 <h4>BET</h4>
                </div>
                
            </div>
            <div class="col-cb col-right">
               <div class="col-flex first-right-bg">
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px;">Dragon</h4>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px;">Tiger</h4>
                  </div>
               </div>
               <div class="col-flex first-right-bg">
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px;">ODD</h4>
                      <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px;">EVEN</h4>
                      <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-flex first-right-bg">
                  <div class="bottom-right-section purple-btn b-bl-40">
                     <h4 style="margin-left: 20px;">Suit Red</h4>
                      <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn br-20">
                     <h4 style="margin-left: 20px;">Suit Black</h4>
                      <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        
      </div>
     
   </div>
   <div class="bottom-divider desktop-only">
      <img src="../../../assets/images/bottom-divider.png" alt="">
   </div>

   <div style="display: none;" class="position-relative mb-md-5 mt-1" class="{{state}}">
      <div class="desktop-only row player-controls p-0 m-auto desktop d-none d-md-block w-75 overflow-hidden" style="border: 1.5px solid var(--green); background: #101421; border-radius: 20px;    box-shadow: 0px 0px 5px 0.5px var(--green);">
          <!-- <app-bet-slip class="d-block p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip> -->
          
          <div class="row m-0 p-0" style="height: 200px; background: black;">
             <div class="col-4 left px-2 py-0 h-100">
                <div class="row h-50">
                  <div (click)="AddBet('Player A', 4.15); mode = 'disabled'" class="col col-6">
                      <div class="btn button">
                          <p>Dragon</p>
                          <p class="points">12.34</p>
                      </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15); mode = 'disabled'" class="btn button">
                        <p>Tiger</p>
                        <p class="points">12.34</p>
                     </div>
                  </div>
                </div>
                <div class="row h-50">
                   <div class="col col-12 p-1">
                      <div (click)="AddBet('Player A', 4.15); mode = 'disabled'" class="btn button">
                         <p>Tie</p>
                         <p class="points">1.5o</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-4 pe-none"></div>
             <div class="col-4 right px-2 py-0">
                <div class="row">
                   <div class="col col-6">
                      <div class="btn button {{mode == 'dragon'? 'dragon': ''}}" (click)="mode='dragon'">
                         <p><img src="./assets/images/dragon.svg"> Dragon</p>
                      </div>
                   </div>
                   <div class="col col-6">
                      <div class="btn button {{mode == 'tiger'? 'tiger': ''}}" (click)="mode='tiger'">
                         <p><img src="./assets/images/tiger.svg"> Tiger</p>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col col-6">
                      <div (click)="AddBet(mode+': Odd', 4.15)" class="btn button {{mode}}">
                         <p>Odd</p>
                         <p class="points">12.34</p>
                         
                      </div>
                   </div>
                   <div class="col col-6">
                      <div (click)="AddBet(mode+': Even', 4.15)" class="btn button {{mode}}">
                         <p>Even</p>
                         <p class="points">12.34</p>
                         
                      </div>
                   </div>
                </div>
                <div class="row">
                  <div class="col col-6">
                     <div (click)="AddBet(mode+': Suit Red', 4.15)" class="btn button {{mode}}">
                        <p>Suit Red</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="AddBet(mode+': Suit Black', 4.15)" class="btn button {{mode}}">
                        <p>Suit Black</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
               </div>
             </div>
          </div>
       </div>
      
       <app-bet-slip class="d-block d-md-none p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip>
      
       <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
      </div>

      <div class="mobile show {{state}}">
         <div class="row player-controls p-0 m-auto mobile show mt-4 position-relative" style="width: 85%; margin-bottom: 42px !important;">
            <div class="top overflow-hidden mb-outer-border" style="padding: 2px 3px 5px;">
               <div style="display: flex; padding: 0;">
                  <div style="padding-right: 2px !important;" class="mb-inner-layer">
                     <div class="btn button mb-btn-shade">
                        <p style="font-family: Casino, sans-serif !important;font-size: 16px;letter-spacing: 1px;line-height: 30px;margin-bottom: 5px;transform: skew(-5deg);">Dragon</p>
                        <p style="transform: skew(-5deg);font-size: 28px;font-family: 'Casino';margin-bottom: 12px;">A</p>
                        <h4 style="font-size: 16px;transform: skew(-5deg);" class="mb-score">0.00</h4>
                        <div style="display: flex; width: 100%; padding: 0 10px; justify-content: space-between">
                           <h4 style="font-size: 11px;color: #16DFBC;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); transform: skew(-5deg);" class="profit-green">350000</h4>
                           <h4 style="font-size: 11px;color: red;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); transform: skew(-5deg);" class="loss-red">-35620</h4>
                        </div>
                     </div>
                  </div>
                  <div style="padding-right: 2px !important; padding-left: 2px !important;" class="mb-inner-layer">
                     <div class="btn button mb-btn-shade">
                        <p style="font-family: Casino, sans-serif !important;font-size: 16px;letter-spacing: 1px;line-height: 30px;margin-bottom: 5px;">Tie</p>
                        <p style="transform: skew(-5deg);font-size: 28px;font-family: 'Casino';margin-bottom: 12px;">B</p>
                        <h4 style="font-size: 16px;" class="mb-score">0.00</h4>
                        <div style="display: flex; width: 100%; padding: 0 10px; justify-content: space-between">
                           <h4 style="font-size: 11px;color: #16DFBC;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" class="profit-green">350000</h4>
                           <h4 style="font-size: 11px;color: red;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" class="loss-red">-35620</h4>
                        </div>
                     </div>
                  </div>
                  <div style="padding-left: 2px !important;" class="mb-inner-layer">
                     <div class="btn button disabled mb-btn-shade">
                        <p style="font-family: Casino, sans-serif !important;font-size: 16px;letter-spacing: 1px;line-height: 30px;margin-bottom: 5px;transform: skew(5deg);">Tiger</p>
                        <p style="transform: skew(-5deg);font-size: 28px;font-family: 'Casino';margin-bottom: 12px;">C</p>
                        <h4 style="font-size: 16px;transform: skew(5deg);" class="mb-score">0.00</h4>
                        <div style="display: flex; width: 100%; padding: 0 10px; justify-content: space-between">
                           <h4 style="font-size: 11px;color: #16DFBC;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);transform: skew(5deg);" class="profit-green">350000</h4>
                           <h4 style="font-size: 11px;color: red;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);transform: skew(5deg);" class="loss-red">-35620</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
   
            <div class="bottom overflow-hidden mb-outer-border" style="margin-top: -10px;">
               <div class="row">
                  <div class="col mb-inner-layer" style="padding-right: 1px !important; padding-bottom: 0px !important;">
                     <div (click)="AddBet(mode+': Odd', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px; border-top-left-radius: 16px;">
                        <p>Odd</p>
                        <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; position: relative;">
                           <div style="width: 100%;">
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                           <div style="width: 100%;">
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <div class="col mb-inner-layer" style="padding-bottom: 0px !important;">
                     <div (click)="AddBet(mode+': Even', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;border-top-right-radius: 16px">
                        <p>Even</p>
                        <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; position: relative;">
                           <div style="width: 100%;">
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                           <div style="width: 100%;">
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col mb-inner-layer" style="padding-right: 1px !important; padding-bottom: 2px !important;">
                     <div (click)="AddBet(mode+': Red Suit', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px; border-bottom-left-radius: 16px;">
                        <p style="font-size: 15px;">Suit Red</p>
                        <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; position: relative;">
                           <div style="width: 100%;">
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                           <div style="width: 100%;">
                              <p style="font-size: 10px; margin: 0;">0.00</p>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <div class="col mb-inner-layer" style="padding-bottom: 2px !important;">
                  <div (click)="AddBet(mode+': Suit Black', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;border-bottom-right-radius: 16px">
                     <p style="font-size: 15px;">Suit Black</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;position: relative;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            </div>
         </div>
         <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
         <div class="mb-action-tray">
            <app-action-tray></app-action-tray>
         </div>
      </div>
   <app-popup></app-popup>
   <app-rules></app-rules>
</div>
<div class="bottom-divider mobile show">
   <img src="../../../assets/images/bottom-divider-mb.png" alt="">
</div>