<div class="navSlider" style="position: relative;">
   <swiper [config]="config">
      <ng-container *ngFor="let item of gameList | keyvalue:keepOriginalOrder">
         <div class="swiper-slide" routerLinkActive="swiper-slide-current">
            <a href="#" routerLink="/{{item.key}}" class="text-decoration-none">
               <div class="row">
                  {{item.value.name}}
               </div>
            </a>
         </div>
      </ng-container>
   </swiper>
</div>
