.swiper-slide {
    cursor: pointer;
    width: auto!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .row {
    white-space: nowrap;
    margin: 2px 5px;
    padding: 8px 20px;
    justify-content: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    color: #CACACA;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    letter-spacing: .4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: auto;
}
.swiper-slide{
    overflow: unset !important;
}
.swiper-slide div {
    font-size: 12px;
}

@media (min-width: 768px) {
    .swiper-slide img {
        width: 20px; height: 20px;
    }
    .swiper-slide div {
        font-size: 16px;
    }
}

// .swiper-slide:hover .row {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.swiper-slide-current {
  .row {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Casino', sans-serif;
    text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: .4);
    background: linear-gradient(to right, rgba(28, 196, 222, 0.932), rgba(202, 33, 224, 0.5));
    letter-spacing: 0.8px;
  }
}
