.header-cb{
    width: 100%;
    height: 52px;
    color: #fff;
    display: flex;
}
.header-cb .dropdown-menu{
    background: rgba(34, 36, 40, 0.108) !important;
    box-shadow: inset 10.8333px -10.8333px 10.8333px rgba(26, 28, 30, 0.096), inset -10.8333px 10.8333px 10.8333px rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(12.85px);
    border-radius: 8px;
}
.header-cb .dropdown-menu a{
    color: #fff !important;
    font-family: 'Quicksand' , sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.cb-logo a img{
    width: 130px;
}
.header-cb .dropdown-menu a img{
    margin-right: 10px;
}
.header-cb .dropdown-menu a:hover{
    background: none;
    color: none;
}
.main-header-cb{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.main-header-cb h4{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0 !important;
}
.main-header-cb a{
    text-decoration: none;
}
.cb-three-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-setting{
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: linear-gradient(281.65deg, rgba(240, 152, 220, 0.175) 18.31%, rgba(238, 238, 238, 0.105) 81.43%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}
.mode-setting img{
    width: 14px;
}
.my-account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-account h4{
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}
.my-account-img{
    margin: 0 5px;
    width: 36px;
}
.header-cb .shade-dropdown button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: linear-gradient(281.65deg, rgba(240, 152, 220, 0.175) 18.31%, rgba(238, 238, 238, 0.105) 81.43%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
    padding: 3px 5px;
}
.header-cb .no-shade button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: none;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
    padding: 3px 5px;
    border: none !important;
    box-shadow: none !important;
}
.header-cb .no-shade .btn-secondary:active:focus{
    box-shadow: none !important;
}
.header-cb .no-shade .dropdown-item{
    padding: 0.5rem 1.7rem;
}
.header-cb .dropdown-toggle::after{
    display: none !important;
}
.header-cb button span{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 400;   
}
.header-cb button .card-img{
    width: 28px;
    position: relative;
    top: 4px;
}
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    /* position: absolute; */
    }
    .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-size: 12px; color: #FBFBFB !important; font-family: 'Inter'!important; font-style: italic;
    }
    @keyframes marquee {
    0% {
    transform: translate(0, 0);
    }
    100% {
    transform: translate(-100%, 0);
    }
}

@media (max-width: 600px){
    .main-header-cb{
        padding: 0;
    }
    .my-account h4,
    .bottom-mb-arrow{
        display: none;
    }
    .no-shade button,
    .shade-dropdown button{
        margin-right: 0px !important;
    }
    .mode-setting{
        margin-right: 10px;
    }
    .shade-dropdown button{
        padding: 3px 8px !important;
        justify-content: space-between !important;
        width: 63px;
    }
}