.tray {
  top: 0;
  right: 10px;
  z-index: 9;
  @media (min-width: 767px) {
    position: absolute;
  }
}

.tray img {
  width: 100px;
  cursor: pointer;
}

.cb-mt-32 {
  margin-top: -32px;
}

.changestyle {
  display: none;
}

.sound_on {
  display: none;
}

.ro-bg.play .sound_off {
  display: none;
}

.ro-bg.play .sound_on {
  display: block;
}

.ro-bg {
  background: url(../../../assets/images/icon-bg.svg) no-repeat -48px -10px;
  background-size: 200px 100px;
  padding: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.triangle-icons {
  position: relative;
  &::before {
    // display: none;
    content: "";
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transform-origin: right;
    background: rgba($color: #000000, $alpha: 0) url(../../../assets/images/triangle-icons.png) no-repeat scroll center /
    cover;
    background-size: contain;
    width: 170px;
    height: 160px;
    z-index: -9;
    transition: 0.3s ease-in-out;
    @media (max-width: 767px) {
      right: calc(50%);
      top: 130px;
      transform: rotate(90deg) translateX(-50%) scale(0);
      transform-origin: right;
    }
  }
  &:hover,
  &.active {
    &::before {
      // display: block;
      transform: translateY(-50%) scale(1);
      @media (max-width: 767px) {
        transform: rotate(90deg) translateX(-50%) scale(1);
      }
    }
  }
}
.ro-bg svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .tray {
    right: 0px;
    left: auto;
    top: 14%;
    bottom: auto;
    position: fixed !important;
  }
  .tray img {
    width: 100px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  // .tray {
  //   left: 0px;
  //   top: 16%;
  //   position: absolute;
  // }
  .mb-flex-cb {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tray img {
    width: 86px;
    margin-right: -10px;
  }
}
