@font-face {
    font-family: 'Casino';
    src: url(/assets/font/Casino.ttf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(/assets/font/Gilroy-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Quicksand';
    src: url(/assets/font/Quicksand-Medium.woff2) format('woff2'),
        url(/assets/font/Quicksand-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/assets/font/Quicksand-Light.woff2) format('woff2'),
        url(/assets/font/Quicksand-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/assets/font/Quicksand-Regular.woff2) format('woff2'),
        url(/assets/font/Quicksand-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/assets/font/Quicksand-Bold.woff2) format('woff2'),
        url(/assets/font/Quicksand-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/assets/font/Quicksand-SemiBold.woff2) format('woff2'),
        url(/assets/font/Quicksand-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}