.text-green {
  color: #92FFD1;
  }
  .content {
  overflow-x: hidden;
  }
  .content {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  font-family: 'Casino';
  }
  .button {
  background: linear-gradient(180deg, #33416C -0.64%, rgba(51, 65, 108, 0) 116.6%);
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
  }
  .button p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  }
  .button:hover {
  background: #036299 !important;
  border: 3px solid var(--green);
  box-shadow: inset 0px 12px 12px rgba(11, 11, 11, 0.4);
  font-weight: bold;
  /* padding: 12px; */
  padding: 2px 7px 2px 7px;
  }
  .button:hover p {
  color: var(--green);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  * {
  color: #FFFFFFE6;
  }
  .menu a {
  margin-right: -4px;
  padding: 10px 30px;
  width: 50px;
  color: #333;
  text-decoration: none;
  font: 15px/25px Helvetica, Arial, sans-serif;
  }
  .menu a:hover {
  background: #eee;
  }

  /*MAIN CIRCLE*/
  .circle {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }
  

  .points {
  color: #D90020;
  }
  
  .player-controls.desktop {
  -webkit-transform: perspective(200) rotate3d(1, 0, 0, 15deg);
  }
  .player-controls.desktop .left .button p {
  transform: matrix(1, 0, 0.3, 1, 0, 0);
  }
  .player-controls.desktop .right .button p {
  transform: matrix(1, 0, -0.3, 1, 0, 0);
  }
  /* .player-controls.desktop .toolbar div {
  transform: matrix(1, 0, 0, 1, 0, 0);
  } */
  .player-controls.mobile .top {
  -webkit-transform: perspective(200) rotate3d(1, 0, 0, -15deg);
  }
  .player-controls.mobile .bottom {
  -webkit-transform: perspective(200) rotate3d(1, 0, 0, 15deg);
  }
  .toolbar div, .toolbar p {
  font-family: Gilroy;
  color: var(--green);
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  }
  

  *::-webkit-scrollbar {
  display: none;
  }
 
  .dropdown span {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Inter'!important;
  vertical-align: text-bottom;
  }

  .game-details {
     font-size: 8px;
     z-index: 9999999999;
  }

  .game-details .fw-bold {
     font-size: 10px;
  }

  .game-details .timer {
  font-size: 10px;
  }

  .game-details.header img {
     max-height: 15px;
  }

  .mobile.show {
     display: block;
  }

  .mobile.hide {
     display: none;
  }

  .game-details img {
     height: 30px;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  @media (min-width: 768px) {
     .mobile {
     display: none !important;
  }
  .game-details img {
     height: 40px !important;
  }

 
  .dropdown span {
  font-size: 16px;
  }
  .video-player {
  width: 60%;
  }
  .game-details {
  font-size: 14px;
  }
  .game-details .timer {
  font-size: 20px;
  }

  .game-details.header img {
     max-height: 25px;
  }

  }

 
  .dropdown-toggle::after {
  color: var(--green);
  }
  ::placeholder {
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7);
  opacity: 1;
  }
  .module-border-wrap {
  position: relative;
  background: linear-gradient(to right, #4AFEC9, #006752);
  padding: 4px;
  border-radius: 50px;
  width: fit-content;
  }

  .circle-container {
   position: relative;
  //  width: 20em;
   height: 20rem;
   border-radius: 50%;
   padding: 0;
   list-style: none;
   margin: auto;
   margin-top: 2.5rem;
   transform: scale(0.9);
   -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
 }

.circle-container > * {
 display: block;
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -2em;
 width: 4em;
 height: 4em;
 cursor: pointer;
}

.circle-container > *:nth-of-type(1) {
 transform: rotate(0deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(2) {
 transform: rotate(30deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(3) {
 transform: rotate(60deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(4) {
 transform: rotate(90deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(5) {
 transform: rotate(120deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(6) {
 transform: rotate(150deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(7) {
 transform: rotate(180deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(8) {
 transform: rotate(210deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(9) {
 transform: rotate(240deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(10) {
 transform: rotate(270deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(11) {
 transform: rotate(300deg) translate(10em) rotate(90deg);
}
.circle-container > *:nth-of-type(12) {
 transform: rotate(330deg) translate(10em) rotate(90deg);
}

.circle-container li {
  pointer-events : all;
  opacity: 1;
  background: url(/assets/images/coin.png); background-size: cover; display: flex; justify-content: center; align-items: center;
  color: #B482E0;
  font-weight: bold;
}

.circle-container li.active {
  opacity: 1;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
}

.button {
  border: 0px;
}

.p-1 {
  padding: .1rem!important;
}

#betPlaceBtn {
 cursor: pointer;
 pointer-events: all;
}

#betPlaceBtn:hover {
 opacity: 0.9!important;
}

.arrow {
z-index: 9999; cursor: pointer; pointer-events: all;position: absolute; 
}

.arrow.left {
left: 10px; right: auto; bottom: 22px;
}

.arrow.right {
left: auto; right: 10px; bottom: 20px;
}

.true {
 .circle-container, .arrow, #betPlaceBtn {
  opacity: 1;
 }
}

.false {
.circle-container li:not(.active), .arrow, #betPlaceBtn {
  opacity: 0.3;
 }
}

.jumping-dots-loader {
width: 100px;
height: 100px;
border-radius: 100%;
position: relative;
margin: 0 auto
}

.jumping-dots-loader span {
display: inline-block;
width: 10px;
height: 10px;
border-radius: 100%;
background-color: white;
// margin: 35px 5px;
}

.jumping-dots-loader span:nth-child(1) {
animation: bounce 1s ease-in-out infinite
}

.jumping-dots-loader span:nth-child(2) {
animation: bounce 1s ease-in-out 0.33s infinite
}

.jumping-dots-loader span:nth-child(3) {
animation: bounce 1s ease-in-out 0.66s infinite
}

@keyframes bounce {

0%,
75%,
100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px)
}
}

// .dial {
//   padding-bottom: 70vw; overflow: hidden;
// }

// @media (min-width: 768px) {
//   .dial {
//     transform:scale(0.9);height: 230px;overflow: hidden;margin: auto;bottom: 0; position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;
//   }
// }

.new li, .new .arrow, .new #betPlaceBtn {
opacity: 0.5!important;
pointer-events: none!important;
}

.open li, .open .arrow, .open #betPlaceBtn {
opacity: 0.5!important;
pointer-events: none!important;
}
@media (max-width: 700px){
  .bet-cb-btn{
    width: 169px;
    position: absolute;
    height: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    left: 48%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 4;
    background: url(../../../assets/images/bet-cb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tray{
  display: flex !important;
  }
  .bet-cb-btn h4{
    color: #FFFFFF;
    font-family: "Casino", sans-serif;
    margin: 28px 0 0;
    font-size: 35px;
    text-shadow: 0px 0px 2px #000;

    -webkit-text-shadow: 0px 0px 2px #000;
    -moz-text-shadow: 0px 0px 2px #000;
  }
  .mobile-dial .col-mid{
    width: 100%;
    height: 160px;
    padding: 0 20px;
    position: relative;
    background: url(../../../assets/images/mobile-semi-curve.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    z-index: 3;
    margin-top: 20px
  }
  .coin-left-btn img,
  .coin-right-btn img{
      width: 54px !important;
      position: absolute;
      z-index: 999;
  }
  .coin-left-btn img{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    bottom: -5px;
    left: 5px;
  }
  .coin-right-btn img{
    bottom: -5px;
    right: 5px;
  }
  .coin-cb{
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .coin-1{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 114px;
    left: 18px;
  }
  .coin-2{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 61px;
    left: 46px;
  }
  .coin-3{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 20px;
    left: 88px;
  }
  .coin-4{
    background: url(../../../assets/images/coin-red-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 2px;
    left: 12px;
  }
  .custom-cb-coin{
    position: absolute;
    width: 85px;
    height: 70px;
    top: 3px;
    left: 136px;
  }
  .custom-cb-coin .coin-4{ 
    width: 60px;
    height: 60px;
  }
  .custom-cb-coin::before{
    position: absolute;
    content: "";
    transform: perspective(169px) rotateX(-15deg);
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/glowsvg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
  .coin-5{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 23px;
    left: 210px;
  }
  .coin-6{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 66px;
    left: 248px;
  }
  .coin-7{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 114px;
    left: 277px;
  }

  .coin-cb p{
    margin: 0;
    font-size: 9px !important;
  }
}
