<div class="position-fixed top-0 end-0 p-3 hide" style="z-index: 9999;">
   <div id="success" class="toast align-items-center text-white bg-success border-0 hide">
      <div class="d-flex">
        <div class="toast-body">
          Bet placed successfully!
        </div>
      </div>
    </div>
</div>

<div class="col-4 d-none d-md-block {{selected}} {{state}}" style="transform:scale(0.8);height: 240px;overflow: hidden;margin: auto;bottom: -3px; position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;">
    <img src="../assets/images/arrow-left.svg" class="arrow left">
    <img src="../assets/images/arrow-right.svg" class="arrow right">
    <img src="../assets/images/dial.png" class="w-100 position-absolute h-100" style="left: 0px; right: 0px;">
    

    <div class="minCoin">
      <div class="mid-circle minCoin-in">
        <div class="coin-cirle" style="margin-top: 90px;">
          <div id="center2" class="wrapper">

             <div [ngClass]="i==0 ? 'item2 coin-selected' : 'item2'" (click)="rotateCoins(i)" *ngFor="let coinValue of coinsAry;let i = index;">
              <div class="coin-cb"><p>{{coinValue}}</p></div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- <ul class="circle-container desktop" style="z-index: 999;">
       <li class="c1" value="500">500</li>
       <li class="c2" value="1000">1000</li>
       <li class="c3" value="5000">5000</li>
       <li class="c4" value="10000">10K</li>
       <li class="c5" value="50000">50K</li>
       <li class="c6" value="100000">100K</li>
       <li class="c7" value="500">500</li>
       <li class="c8" value="1000">1000</li>
       <li class="c9" value="5000">5000</li>
       <li class="c10 active" value="10000">10K</li>
       <li class="c11" value="500000">50K</li>
       <li class="c12" value="100000">100K</li>
    </ul> -->
    <img src="../assets/images/triangle.png" style="position: absolute; top: 0px; margin-top: 15px; left: 0; right: 0; margin-left: auto; margin-right: auto;">
    <div style="z-index: 99999; overflow: hidden; text-align: center; position: absolute; left: 0; right: 0; top: 50%; width: 50%; margin: auto; height: 100%; border: 1px solid #F092FF; border-radius: 50%; background: linear-gradient(153.85deg, #CF65F4 16.22%, #952CB9 59.51%); padding-bottom: 50%; box-shadow: inset 0px 12px 12px rgba(0, 0, 0, 0.5); ">
    <div *ngIf="betState == null" (click)="placeBet()" id="betPlaceBtn" style="font-size: 2.3rem; font-family: Gilroy; font-weight: bold; color: white; text-transform: uppercase; height: 120px;display: flex; justify-content: center; align-items: center;background: linear-gradient(153.85deg, #CF65F4 16.22%, #952CB9 59.51%); opacity: 1.0; cursor:pointer;">
       Bet
    </div>
    <div *ngIf="betState == 'loading'" style="font-family: Gilroy; font-weight: bold; color: white; text-transform: uppercase; height: 120px;display: flex; justify-content: center; align-items: center;background: linear-gradient(153.85deg, #CF65F4 16.22%, #952CB9 59.51%); opacity: 1.0; cursor:pointer;">
      <div class="spinner-border text-light"></div>
    </div>
    </div>
 </div>

 <div class="col-12 mobile-dial mobile hide" style="overflow: hidden;">
   <div class="col-cb col-mid">
      <div class="coin-left-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
      <div class="coin-right-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
      <div class="mid-circle">
         <div class="coin-cirle">
            <div class="coin-cb coin-1"><p>20000</p></div>
            <div class="coin-cb coin-2"><p>5000</p></div>
            <div class="coin-cb coin-3"><p>50k</p></div>
            <div class="custom-cb-coin"><div class="coin-cb coin-4"><p>CUSTOM</p></div></div>
            <div class="coin-cb coin-5"><p>50</p></div>
            <div class="coin-cb coin-6"><p>300</p></div>
            <div class="coin-cb coin-7"><p>9000</p></div>
         </div>
      </div>
   </div>
   <div class="bet-cb-btn">
      <h4>BET</h4>
   </div>
</div>