<div class="content" id="content">
   

   <div class="video-player row position-relative m-auto">
      <div class="position-relative p-0">
         <app-videoplayer class="p-0"></app-videoplayer>

         <div *ngIf="state == 'open'" class="position-absolute w-100 h-100 top-0" style="z-index: 9999;">   
            <!-- <h4 class="who-wins position-absolute top-50 start-50 translate-middle">
               WINNER {{GameWinner}}
            </h4> -->
         </div>
   
         <div style="display: none;" class="position-absolute top-0 start-0 m-2">
            <svg id="animated" viewBox="0 0 100 100" style="background: #053755; border-radius: 50%;">
               <circle cx="50" cy="50" r="40" stroke-width="10" stroke="#92ffd1" fill="none" style="stroke-dasharray: 3;"></circle>
               <path id="progress" stroke-width="12" stroke="#053755" fill="none" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" stroke-linecap="butt">
               </path>
               <circle cx="50" cy="50" r="49.5" stroke-width="3" stroke="#92ffd1" fill="none" style="filter: drop-shadow(0px 0px 3px #92ffd1);"></circle>
              <text class="timer" id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="30" style="text-shadow: 0 0 2px #92ffd1, 0 0 60px #92ffd1, 0 0 13px #92ffd1;" fill="#92FFD1">{{timeLeft}}</text>
             </svg>
            <div class="text-center p-1 blink mt-1 d-block d-md-none"><img src="../assets/images/live.svg" width="35"></div>
         </div>

         <div class="cb-timer-showcase">
            <h2 class="timer" id="count" style="font-family: Casino, sans-serif; color: #fff; font-size: 22px; margin: 0;margin-left: 12px;margin-top: 10px;">60</h2>
         </div>
         <img class="cb-live-showcase" src="../../../assets/images/live-showcase.svg" alt="">
         <div class="position-absolute top-0 end-0 d-none d-md-block m-2">
            <div class="text-center p-1 blink"><img src="../assets/images/live.svg" width="50"></div>
         </div>

         <div class="desktop-only">
            <app-action-tray></app-action-tray>
         </div>

<app-how-to-play></app-how-to-play>
   
         <div class="position-absolute agent-logo" style="display: none;">
            <img src="../assets/images/supernowa 3d logo.png">
         </div>
      </div>

      <div class="game-details row w-100 m-auto justify-content-center bottom-0">
         <div class="text-center text-uppercase p-1 p-md-2 newGameText" *ngIf="state == 'new'">
            New Game Starting
         </div>
         <div style="position: relative;display: flex;justify-content: center;" class="betResult desktop-only" *ngIf="state == 'bet' || state == 'open'">
            <div class="bet-placed-container">
                <a href="#" class="bet-placed-text">Bet Placed!</a>
             </div>
            
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
         </div>

         <!-- *ngIf="state == 'bet' || state == 'open'" -->
         <div style="position: relative;" class="betResult mobile-only" *ngIf="state == 'bet' || state == 'open'">
            <div class="bet-placed-container">
                <a href="#" class="bet-placed-text">Bet Placed!</a>
             </div>
            
            <div style="margin: 0 !important; opacity: 0.3;" class="mb-flex">
               <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/images/card-back.png">
                    </div>
                    <div class="flip-card-back">
                        <img src="../assets/images/card.png">
                    </div>
                  </div>
                </div>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/images/card-back.png">
                    </div>
                    <div class="flip-card-back">
                        <img src="../assets/images/card.png">
                    </div>
                  </div>
                </div>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/images/card-back.png">
                    </div>
                    <div class="flip-card-back">
                        <img src="../assets/images/card.png">
                    </div>
                  </div>
                </div>
            </div>
         </div>
      </div>

   </div>
   
   <div class="game-cb-container desktop-only">
      <div class="cb-first-layer">
         <div class="circle-blue-blur"></div>
         <div class="btn-small-blur1"></div>
         <div class="btn-small-blur2"></div>
         <div class="btn-small-blur3"></div>
         <div class="btn-small-blur4"></div>
         <div class="game-btn-container">
            <div class="col-cb col-left">
                <div class="col-flex first-left-bg"> 
                  <div class="second-section active">
                     <div class="second-section-blur-effect"></div>
                     <div class="second-section-bg">
                        <h4>Single</h4>
                     </div>
                  </div>
                  <div class="second-section active">
                     <div class="second-section-blur-effect"></div>
                     <div class="second-section-bg">
                        <h4>Single Panna</h4>
                     </div>
                  </div>
                </div>
                <div class="col-flex first-left-bg"> 
                  <div class="second-section active">
                     <div class="second-section-blur-effect"></div>
                     <div class="second-section-bg">
                        <h4>Double Panna</h4>
                     </div>
                  </div>
                  <div class="second-section active br-32">
                     <div class="second-section-blur-effect br-32"></div>
                     <div class="second-section-bg">
                        <h4>Triple Panna</h4>
                     </div>
                  </div>
                </div>
            </div>
            <div class="col-cb col-mid">
               <div class="coin-left-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
               <div class="coin-right-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
                <div class="mid-circle">
                   <div class="coin-cirle">
                      <div class="coin-cb coin-1"><p>20000</p></div>
                      <div class="coin-cb coin-2"><p>5000</p></div>
                      <div class="coin-cb coin-3"><p>50k</p></div>
                      <div class="custom-cb-coin"><div class="coin-cb coin-4"><p>CUSTOM</p></div></div>
                      <div class="coin-cb coin-5"><p>50</p></div>
                      <div class="coin-cb coin-6"><p>300</p></div>
                      <div class="coin-cb coin-7"><p>9000</p></div>
                   </div>
                </div>
                <div class="bet-cb-btn">
                 <h4>BET</h4>
                </div>
                
            </div>
            <div class="col-cb col-right">
               <div class="col-flex first-right-bg">
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">1</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">2</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">3</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-flex first-right-bg">
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">5</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">4</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">6</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-flex first-right-bg">
                  <div class="bottom-right-section purple-btn b-bl-40">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">7</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">8</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">9</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
                  <div class="bottom-right-section purple-btn br-20">
                     <h4 style="margin-left: 20px; margin-bottom: 2px !important;">0</h4>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center;">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        
      </div>
     
   </div>
   <div class="bottom-divider desktop-only">
      <img src="../../../assets/images/bottom-divider.png" alt="">
   </div>

   <div style="display: none;" class="position-relative mb-md-5 mt-1" class="{{state}}">
      <div class="desktop-only row player-controls p-0 m-auto desktop d-none d-md-block w-75 overflow-hidden" style="border: 1.5px solid var(--green); background: #101421; border-radius: 20px;    box-shadow: 0px 0px 5px 0.5px var(--green);">
          <!-- <app-bet-slip class="d-block p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip> -->
          
          <div class="row m-0 p-0" style="height: 200px; background: black;">
             <div class="col-4 left px-2 py-0 h-100">
                <div class="row h-50">
                  <div class="col col-6">
                     <div class="info" data-bs-toggle="modal" data-bs-target="#single-panna"><img src="../assets/images/info-circle.svg" width="15"></div>
                      <div (click)="mode='single'" class="btn button">
                          <p>Single</p>
                          <p class="points">1 Ka 9.5</p>
                      </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="mode='single-panna'" class="btn button">
                         <p>Single Panna</p>
                         <p class="points">1 Ka 140</p>
                     </div>
                 </div>
                </div>
                <div class="row h-50">
                   <div class="col col-6">
                      <div (click)="mode='double-panna'" class="btn button">
                         <p>Double Panna</p>
                         <p class="points">1 Ka 240</p>
                      </div>
                   </div>
                   <div class="col col-6 position-relative">
                     <div class="info" data-bs-toggle="modal" data-bs-target="#total-panna"><img src="../assets/images/info-circle.svg" width="15"></div>
                      <div (click)="mode='total-panna'" class="btn button">
                         <p>Total Panna</p>
                         <p class="points">1 Ka 700</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-4 pe-none"></div>
            <div *ngIf="mode == 'disabled' || mode == 'single' || mode == 'single-panna' || mode == 'double-panna'" class="col-4 right px-2 py-0">
               <div class="row h-25">
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>1</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>2</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>3</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
               </div>
               <div class="row h-25">
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>4</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>5</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>6</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
               </div>
               <div class="row h-25">
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>7</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>8</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>9</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
               </div>
               <div class="row h-25">
                  <div class="col col-12 p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>0</p>
                     <p class="points">12.34</p>
                     
                  </div>
                  </div>
               </div>
            </div>
   
            <div *ngIf="mode == 'total-panna'" class="col-4 right px-2 py-0">
               <div class="row h-100">
                  <div class="col col-12 p-1">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'total-panna' ? '':'disabled'}}">
                        <p>All</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
               </div>
            </div>
          </div>
       </div>
      
       <app-bet-slip class="d-block d-md-none p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip>
       <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
      </div>
   
      <div style="display: none;" id="single-panna" tabindex="-1" class="infoModal modal fade" style="z-index: 99999999999;">
         <div class="modal-dialog modal-dialog-centered modal-lg">
             <div class="modal-content bg-transparent border-0">
                 <div class="modal-body p-0 overflow-hidden p-4" style="box-shadow: 0px 30px 24px rgba(0, 0, 0, 0.6); background: #232A41F2; border: 2px solid #92ffd130; border-radius: 40px;">
                     <h4>Single - Total Pana (10)</h4>
                     <ul class="row p-0 m-auto g-2">
                        <li class="col-3">
                           <div>1</div>
                        </li>
                        <li class="col-3">
                           <div>2</div>
                        </li>
                        <li class="col-3">
                           <div>3</div>
                        </li>
                        <li class="col-3">
                           <div>4</div>
                        </li>
                        <li class="col-3">
                           <div>5</div>
                        </li>
                        <li class="col-3">
                           <div>6</div>
                        </li>
                        <li class="col-3">
                           <div>7</div>
                        </li>
                        <li class="col-3">
                           <div>8</div>
                        </li>
                        <li class="col-3">
                           <div>9</div>
                        </li>
                        <li class="col-3">
                           <div>0</div>
                        </li>
                     </ul>
                 </div>
                 <button type="button" data-bs-dismiss="modal" class="btn-close" style="background: #232A41; border: 2px solid #8EF6CB; color: #83E5BF; font-family: Gilroy; border-radius: 50%; position: absolute; bottom: 0px; right: 0px; width: 24px; height: 24px; opacity: 1.0; line-height: 16px;">X</button>
             </div>
         </div>
     </div>
   
     <div style="display: none;" id="total-panna" tabindex="-1" class="infoModal modal fade" style="z-index: 99999999999;">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content bg-transparent border-0">
              <div class="modal-body p-0 overflow-hidden p-4" style="box-shadow: 0px 30px 24px rgba(0, 0, 0, 0.6); background: #232A41F2; border: 2px solid #92ffd130; border-radius: 40px;">
                  <h4>TP - Total Pana (10)</h4>
                  <ul class="row p-0 m-auto g-2">
                     <li class="col-3">
                        <div>111</div>
                     </li>
                     <li class="col-3">
                        <div>222</div>
                     </li>
                     <li class="col-3">
                        <div>333</div>
                     </li>
                     <li class="col-3">
                        <div>444</div>
                     </li>
                     <li class="col-3">
                        <div>555</div>
                     </li>
                     <li class="col-3">
                        <div>666</div>
                     </li>
                     <li class="col-3">
                        <div>777</div>
                     </li>
                     <li class="col-3">
                        <div>888</div>
                     </li>
                     <li class="col-3">
                        <div>999</div>
                     </li>
                     <li class="col-3">
                        <div>000</div>
                     </li>
                  </ul>
              </div>
              <button type="button" data-bs-dismiss="modal" class="btn-close" style="background: #232A41; border: 2px solid #8EF6CB; color: #83E5BF; font-family: Gilroy; border-radius: 50%; position: absolute; bottom: 0px; right: 0px; width: 24px; height: 24px; opacity: 1.0; line-height: 16px;">X</button>
          </div>
      </div>
   </div>
   <div class="mobile show {{state}}">
      <div class="row player-controls p-0 m-auto mobile show mt-4 position-relative" style="width: 85%;">
         <div class="top overflow-hidden mb-outer-border">
            <div class="row">
               <div class="col mb-inner-layer" style="padding-right: 0px !important; padding-bottom: 0 !important;">
               <!-- <div class="info" data-bs-toggle="modal" data-bs-target="#single-panna"><img src="../assets/images/info-circle.svg" width="15"></div> -->
                  <div (click)="mode='single'" class="btn button mb-btn-shade">
                     <p class="font-casino" style="transform: skew(-3deg);">Single</p>
                     <!-- <p class="points" style="transform: skew(-3deg);">1 Ka 9.5</p> -->
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-right: 2px; padding-bottom: 0 !important;">
                  <div (click)="mode='single-panna'" class="btn button mb-btn-shade">
                     <p class="font-casino" style="transform: skew(3deg);">Double</p>
                     <!-- <p class="points" style="transform: skew(3deg);">1 Ka 140</p> -->
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col mb-inner-layer" style="padding-right: 0px !important;">
                  <div (click)="mode='double-panna'" class="btn button mb-btn-shade">
                     <p class="font-casino">Double Panna</p>
                     <!-- <p class="points">1 Ka 240</p> -->
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-right: 2px;">
               <!-- <div class="info" data-bs-toggle="modal" data-bs-target="#total-panna"><img src="../assets/images/info-circle.svg" width="15"></div> -->
                  <div (click)="mode='total-panna'" class="btn button mb-btn-shade">
                     <p class="font-casino">Total Panna</p>
                     <!-- <p class="points">1 Ka 700</p> -->
                  </div>
               </div>
            </div>
         </div>

         <div class="bottom overflow-hidden mb-outer-border" style="margin-top: -10px;">
            <div class="row">
               <div class="col mb-inner-layer" style="padding-bottom: 0px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px; border-top-left-radius: 16px;">
                     <p>1</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-left: 1px !important; padding-bottom: 0px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;">
                     <p>2</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-left: 1px !important; padding-bottom: 0px !important;">
               <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px; border-top-right-radius: 16px;">
                  <p>3</p>
                  <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                     <div style="width: 100%;">
                        <p style="font-size: 10px; margin: 0;">0.00</p>
                     </div>
                     <div style="width: 100%;">
                        <p style="font-size: 10px; margin: 0;">0.00</p>
                     </div>
                  </div>
                  
               </div>
            </div>
            </div>
            <div class="row">
               <div class="col mb-inner-layer" style="padding-bottom: 0px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;">
                     <p>4</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-left: 1px !important; padding-bottom: 0px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;">
                     <p>5</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-left: 1px !important; padding-bottom: 0px !important;">
               <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;">
                  <p>6</p>
                  <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                     <div style="width: 100%;">
                        <p style="font-size: 10px; margin: 0;">0.00</p>
                     </div>
                     <div style="width: 100%;">
                        <p style="font-size: 10px; margin: 0;">0.00</p>
                     </div>
                  </div>
                  
               </div>
            </div>
            </div>
            <div class="row">
               <div class="col mb-inner-layer" style="padding-bottom: 2px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px; border-bottom-left-radius: 16px;">
                     <p>7</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-left: 1px !important; padding-bottom: 2px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;">
                     <p>8</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-left: 1px !important; padding-bottom: 2px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;">
                     <p>9</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-left: 1px !important; padding-bottom: 2px !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button small-blocks purple-btn" style="border-radius: 8px;border-bottom-right-radius: 16px;">
                     <p>0</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            <div *ngIf="mode == 'total-panna'" class="bottom overflow-hidden" style="margin-top: -20px; border: 1.5px solid var(--green); background: #101421; border-radius: 20px;">
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'total-panna' ? '':'disabled'}}">
                     <p>All</p>
                     <div style="display: flex;justify-content: space-between;padding: 0 8px;width: 100%;align-items: center;text-align: center; transform: skew(-2deg);">
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                        <div style="width: 100%;">
                           <p style="font-size: 10px; margin: 0;">0.00</p>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            </div>
         </div>
      </div>
      <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
      <div class="mb-action-tray">
         <app-action-tray></app-action-tray>
      </div>
   </div>
   <app-popup></app-popup>

   <app-rules></app-rules>   
</div>
<div class="bottom-divider mobile show">
   <img src="../../../assets/images/bottom-divider-mb.png" alt="">
</div>

