<div class="content" id="content">
   

   <div class="video-player row position-relative m-auto">
      <div class="position-relative p-0">
         <app-videoplayer class="p-0"></app-videoplayer>

         <div *ngIf="state == 'open'" class="position-absolute w-100 h-100 top-0" style="z-index: 9999;">   
            <!-- <h4 class="who-wins position-absolute top-50 start-50 translate-middle">
               WINNER {{GameWinner}}
            </h4> -->
         </div>
   
         <div style="display: none;" class="position-absolute top-0 start-0 m-2">
            <svg id="animated" viewBox="0 0 100 100" style="background: #053755; border-radius: 50%;">
               <circle cx="50" cy="50" r="40" stroke-width="10" stroke="#92ffd1" fill="none" style="stroke-dasharray: 3;"></circle>
               <path id="progress" stroke-width="12" stroke="#053755" fill="none" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" stroke-linecap="butt">
               </path>
               <circle cx="50" cy="50" r="49.5" stroke-width="3" stroke="#92ffd1" fill="none" style="filter: drop-shadow(0px 0px 3px #92ffd1);"></circle>
              <text class="timer" id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="30" style="text-shadow: 0 0 2px #92ffd1, 0 0 60px #92ffd1, 0 0 13px #92ffd1;" fill="#92FFD1">{{timeLeft}}</text>
             </svg>
            <div class="text-center p-1 blink mt-1 d-block d-md-none"><img src="../assets/images/live.svg" width="35"></div>
         </div>

         <div class="cb-timer-showcase">
            <h2 class="timer" id="count" style="font-family: Casino, sans-serif; color: #fff; font-size: 22px; margin: 0;margin-left: 12px;margin-top: 10px;">60</h2>
         </div>
         <img class="cb-live-showcase" src="../../../assets/images/live-showcase.svg" alt="">
         <div class="position-absolute top-0 end-0 d-none d-md-block m-2">
            <div class="text-center p-1 blink"><img src="../assets/images/live.svg" width="50"></div>
         </div>

         <div class="desktop-only">
            <app-roulette-action-tray></app-roulette-action-tray>
         </div>

<app-how-to-play></app-how-to-play>
   
         <div class="position-absolute agent-logo" style="display: none;">
            <img src="../assets/images/supernowa 3d logo.png">
         </div>
      </div>

      <div style="display: none;" class="game-details row w-100 m-auto justify-content-center bottom-0">
         <div class="text-center text-uppercase p-1 p-md-2 newGameText" *ngIf="state == 'new'">
            New Game Starting
         </div>
         <div style="position: relative;display: flex;justify-content: center" class="betResult desktop-only" *ngIf="state == 'bet' || state == 'open'">
            <div class="bet-placed-container">
                <a href="#" class="bet-placed-text">Bet Placed!</a>
             </div>
            
            <div style="padding: 0 !important; margin: 0 30px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                   <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 30px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">

                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 30px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                   <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 30px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                   <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
         </div>
         <div style="position: relative;display: flex;justify-content: center;flex-wrap: wrap;gap: 5px;" class="betResult mobile-only" *ngIf="state == 'bet' || state == 'open'">
            <div class="bet-placed-container">
                <a href="#" class="bet-placed-text">Bet Placed!</a>
             </div>
            
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="card-cb-selection" style="text-align: center;">
                     <p>Flop</p>
                  </div>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                   <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                   <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="card-cb-selection" style="text-align: center;">
                     <p>A</p>
                  </div>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="card-cb-selection" style="text-align: center;">
                     <p>B</p>
                  </div>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
                   <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="card-cb-selection" style="text-align: center;">
                     <p>Turn</p>
                  </div>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
            <div style="padding: 0 !important; margin: 0 10px !important; opacity: 0.3;" class="position-relative"> 
               <div style="padding: 0 !important; margin: 0 !important;" class="mx-1 d-flex">
                  <div class="card-cb-selection" style="text-align: center;">
                     <p>River</p>
                  </div>
                  <div class="flip-card">
                     <div class="flip-card-inner">
                       <div class="flip-card-front">
                           <img src="../assets/images/card-back.png">
                       </div>
                       <div class="flip-card-back">
                           <img src="../assets/images/card.png">
                       </div>
                     </div>
                   </div>
               </div> 
            </div>
         </div>
      </div>

   </div>
   
   <div class="game-cb-container desktop-only" style="margin-top: 20px;">
      <div class="cb-first-layer">
         <div class="circle-blue-blur"></div>
         <div class="btn-small-blur1"></div>
         <div class="btn-small-blur2"></div>
         <div class="btn-small-blur3"></div>
         <div class="btn-small-blur4"></div>
         <div class="game-btn-container">
            <div class="col-cb col-left">
                <div class="col-flex first-left-bg"> 
                  <div class="second-section">
                     <div class="second-section-blur-effect"></div>
                     <div class="second-section-bg">
                        <h4>Wheel</h4>
                     </div>
                  </div>
                  <div class="second-section">
                     <div class="second-section-blur-effect"></div>
                     <div class="second-section-bg">
                        <h4>Sector</h4>
                     </div>
                  </div>
                </div>
                <div class="col-flex first-left-bg"> 
                  <div class="second-section b-bl-20">
                     <div class="second-section-blur-effect b-bl-20"></div>
                     <div class="second-section-bg">
                        <h4>Split</h4>
                     </div>
                  </div>
                  <div class="second-section br-32">
                     <div class="second-section-blur-effect br-32"></div>
                     <div class="second-section-bg">
                        <h4>Corner/Square</h4>
                     </div>
                  </div>
                </div>
            </div>
            <div class="col-cb col-mid">
               <div class="coin-left-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
               <div class="coin-right-btn"><img src="../../../assets/images/coin-btns.png" alt=""></div>
                <div class="mid-circle">
                   <div class="coin-cirle">
                      <div class="coin-cb coin-1"><p>20000</p></div>
                      <div class="coin-cb coin-2"><p>5000</p></div>
                      <div class="coin-cb coin-3"><p>50k</p></div>
                      <div class="custom-cb-coin"><div class="coin-cb coin-4"><p>CUSTOM</p></div></div>
                      <div class="coin-cb coin-5"><p>50</p></div>
                      <div class="coin-cb coin-6"><p>300</p></div>
                      <div class="coin-cb coin-7"><p>9000</p></div>
                   </div>
                </div>
                <div class="bet-cb-btn">
                 <h4>BET</h4>
                </div>
                
            </div>
            <div class="col-cb col-right">
               <div class="col-flex first-right-bg">
                   <div class="right-box-layer" style="margin-right: 3px;">
                       <div class="right-inner-box-layer">
                           <div class="bottom-right-section">
                               <h4>Sector > 18.4</h4>
                               <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 8px;margin-top: 10px;">
                                   <div class="yes-no-box-blue" style="width: 40px; padding: 5px 0;">
                                       <h4>Yes</h4>
                                       <p>2.01</p>
                                   </div>
                                   <div class="yes-no-box-pink" style="width: 40px; padding: 5px 0;">
                                       <h4>No</h4>
                                       <p>-</p>
                                   </div>
                               </div>
                            </div>
                       </div>
                   </div>
                  
                   <div class="right-box-layer" style="margin-right: 3px;">
                       <div class="right-inner-box-layer">
                           <div class="bottom-right-section">
                               <h4>Sector > 18.4</h4>
                               <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 8px;margin-top: 10px;">
                                   <div class="yes-no-box-blue" style="width: 40px; padding: 5px 0;">
                                       <h4>Yes</h4>
                                       <p>2.01</p>
                                   </div>
                                   <div class="yes-no-box-pink" style="width: 40px; padding: 5px 0;">
                                       <h4>No</h4>
                                       <p>-</p>
                                   </div>
                               </div>
                            </div>
                       </div>
                   </div>
                    <div class="right-box-layer">
                       <div class="right-inner-box-layer">
                           <div class="bottom-right-section">
                               <h4>Sector > 18.4</h4>
                               <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 8px;margin-top: 10px;">
                                   <div class="yes-no-box-blue" style="width: 40px; padding: 5px 0;">
                                       <h4>Yes</h4>
                                       <p>2.01</p>
                                   </div>
                                   <div class="yes-no-box-pink" style="width: 40px; padding: 5px 0;">
                                       <h4>No</h4>
                                       <p>-</p>
                                   </div>
                               </div>
                            </div>
                       </div>
                   </div>
               </div>
               <div class="col-flex first-right-bg">
                   <div class="right-box-layer b-bl-40" style="margin-right: 3px;">
                       <div class="right-inner-box-layer b-bl-40">
                           <div class="bottom-right-section">
                               <h4>Sector > 18.4</h4>
                               <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 8px;margin-top: 10px;">
                                   <div class="yes-no-box-blue b-bl-40" style="width: 68px; padding: 5px 0;">
                                       <h4>Yes</h4>
                                       <p>2.01</p>
                                   </div>
                                   <div class="yes-no-box-pink" style="width: 68px; padding: 5px 0;">
                                       <h4>No</h4>
                                       <p>-</p>
                                   </div>
                               </div>
                            </div>
                       </div>
                   </div>
                   <div class="right-box-layer br-20">
                       <div class="right-inner-box-layer br-20">
                           <div class="bottom-right-section">
                               <h4>Sector > 18.4</h4>
                               <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 8px;margin-top: 10px;">
                                   <div class="yes-no-box-blue" style="width: 68px; padding: 5px 0;">
                                       <h4>Yes</h4>
                                       <p>2.01</p>
                                   </div>
                                   <div class="yes-no-box-pink br-20" style="width: 68px; padding: 5px 0;">
                                       <h4>No</h4>
                                       <p>-</p>
                                   </div>
                               </div>
                            </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
        
      </div>
     
   </div>
   <div class="bottom-divider desktop-only">
      <img src="../../../assets/images/bottom-divider.png" alt="">
   </div>

   <div style="display: none;" class="position-relative mb-md-5 mt-1" class="{{state}}">
      <div class="desktop-only row player-controls p-0 m-auto desktop d-none d-md-block w-75 overflow-hidden" style="border: 1.5px solid var(--green); background: #101421; border-radius: 20px;    box-shadow: 0px 0px 5px 0.5px var(--green);">
          <!-- <app-bet-slip class="d-block p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip> -->
          
          <div class="row m-0 p-0" style="height: 200px; background: black;">
             <div class="col-4 left px-2 py-0 h-100">
                <div class="row">
                  <div class="col col-6">
                      <div class="btn button disabled">
                          <p>Player A</p>
                      </div>
                  </div>
                  <div class="col col-6">
                     <div class="btn button disabled">
                        <p>Player B</p>
                     </div>
                  </div>
                </div>
                <div class="row">
                   <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button blue">
                        <p>Back</p>
                        <p class="points">1.5o</p>
                     </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button blue">
                        <p>Back</p>
                        <p class="points">1.5o</p>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-6">
                    <div (click)="AddBet('Player A', 4.15)" class="btn button pink">
                       <p>Lay</p>
                       <p class="points">1.5o</p>
                    </div>
                 </div>
                 <div class="col col-6">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button pink">
                     <p>Lay</p>
                     <p class="points">1.5o</p>
                  </div>
               </div>
               </div>
             </div>
             <div class="col-4 pe-none"></div>
             <div class="col-4 right px-2 py-0">
                <div class="row">
                   <div class="col col-4">
                      <div (click)="AddBet('Player A', 4.15)" class="btn button">
                         <p>Four of a Kind</p>
                         <p class="points">12.34</p>
                         
                      </div>
                   </div>
                   <div class="col col-4">
                      <div (click)="AddBet('Player A', 4.15)" class="btn button">
                         <p>Flush</p>
                         <p class="points">12.34</p>
                         
                      </div>
                   </div>
                   <div (click)="AddBet('Player A', 4.15)" class="col col-4">
                     <div class="btn button">
                        <p>Full House</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                </div>
                <div class="row">
                   <div class="col col-4">
                      <div (click)="AddBet('Player A', 4.15)" class="btn button">
                         <p>Pair</p>
                         <p class="points">12.34</p>
                         
                      </div>
                   </div>
                   <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Straight</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Straight Flush</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                </div>
               <div class="row">
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Three of a Kind</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Two Pair</p>
                        <p class="points">12.34</p>
                        
                     </div>
                  </div>
               </div>
             </div>
          </div>
       </div>
      
       <app-bet-slip class="d-block d-md-none p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip>
         
       <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
      </div>
   <div class="mobile show {{state}}">
      <div class="row player-controls p-0 m-auto mobile show mt-4 position-relative" style="width: 85%;">
         <div class="top overflow-hidden mb-outer-border">
            <div class="row">
               <div class="col mb-inner-layer" style="padding-right: 0px !important; padding-bottom: 0 !important;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button mb-btn-shade purple-btn" style="border-radius: 8px;border-top-left-radius: 15px !important">
                     <p style="transform: skew(-2deg);">Wheel</p>
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-right: 0px !important;padding-bottom: 0 !important;margin-right: 2px;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button mb-btn-shade purple-btn" style="border-radius: 8px;border-top-right-radius: 16px">
                     <p style="transform: skew(7deg);">Sector</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col mb-inner-layer" style="padding-right: 0px !important; ">
                  <div (click)="AddBet('A', 1.50)" class="btn button mb-btn-shade purple-btn" style="border-radius: 8px;border-bottom-left-radius: 15px !important">
                     <p style="transform: skew(-3deg);">Split</p>
                  </div>
               </div>
               <div class="col mb-inner-layer" style="padding-right: 0px !important;margin-right: 2px;">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button mb-btn-shade purple-btn" style="border-radius: 8px;border-bottom-right-radius: 16px">
                     <p style="transform: skew(7deg);">Corner/Square</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="bottom overflow-hidden mb-outer-border" style="margin-top: -14px;display: flex;flex-direction: column;padding: 5px;">
            <div style="display: flex;">
               <div class="right-box-layer" style="margin-right: 5px;">
                   <div class="right-inner-box-layer">
                       <div class="bottom-right-section">
                           <h4 style="transform: none;">Sector > 18.4</h4>
                           <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 5px;margin-top: 10px;">
                               <div class="yes-no-box-blue" style="width: 40px; padding: 5px 0;">
                                   <h4 style="transform: none;">Yes</h4>
                                   <p style="transform: none;">2.01</p>
                               </div>
                               <div class="yes-no-box-pink" style="width: 40px; padding: 5px 0;">
                                   <h4 style="transform: none;">No</h4>
                                   <p style="transform: none;">-</p>
                               </div>
                           </div>
                        </div>
                   </div>
               </div>
               <div class="right-box-layer" style="margin-right: 5px;">
                   <div class="right-inner-box-layer">
                       <div class="bottom-right-section">
                           <h4 style="transform: none;">Sector > 18.4</h4>
                           <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 5px;margin-top: 10px;">
                               <div class="yes-no-box-blue" style="width: 40px; padding: 5px 0;">
                                   <h4 style="transform: none;">Yes</h4>
                                   <p style="transform: none;">2.01</p>
                               </div>
                               <div class="yes-no-box-pink" style="width: 40px; padding: 5px 0;">
                                   <h4 style="transform: none;">No</h4>
                                   <p style="transform: none;">-</p>
                               </div>
                           </div>
                        </div>
                   </div>
               </div>
               <div class="right-box-layer">
                   <div class="right-inner-box-layer">
                       <div class="bottom-right-section">
                           <h4 style="transform: none;">Sector > 18.4</h4>
                           <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 5px;margin-top: 10px;">
                               <div class="yes-no-box-blue" style="width: 40px; padding: 5px 0;">
                                   <h4 style="transform: none;">Yes</h4>
                                   <p style="transform: none;">2.01</p>
                               </div>
                               <div class="yes-no-box-pink" style="width: 40px; padding: 5px 0;">
                                   <h4 style="transform: none;">No</h4>
                                   <p style="transform: none;">-</p>
                               </div>
                           </div>
                        </div>
                   </div>
               </div>
            </div>
            <div style="display: flex; margin-top: 5px;">
               <div class="right-box-layer" style="margin-right: 5px;">
                   <div class="right-inner-box-layer">
                       <div class="bottom-right-section">
                           <h4 style="transform: none;">Sector > 18.4</h4>
                           <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 8px;margin-top: 10px;">
                               <div class="yes-no-box-blue" style="width: 60px; padding: 5px 0;">
                                   <h4 style="transform: none;">Yes</h4>
                                   <p style="transform: none;">2.01</p>
                               </div>
                               <div class="yes-no-box-pink" style="width: 60px; padding: 5px 0;">
                                   <h4 style="transform: none;">No</h4>
                                   <p style="transform: none;">-</p>
                               </div>
                           </div>
                        </div>
                   </div>
               </div>
               <div class="right-box-layer">
                   <div class="right-inner-box-layer">
                       <div class="bottom-right-section">
                           <h4 style="transform: none;">Sector > 18.4</h4>
                           <div style="display: flex;justify-content: space-between;width: 100%;padding: 0 8px;margin-top: 10px;">
                               <div class="yes-no-box-blue" style="width: 60px; padding: 5px 0;">
                                   <h4 style="transform: none;">Yes</h4>
                                   <p style="transform: none;">2.01</p>
                               </div>
                               <div class="yes-no-box-pink" style="width: 60px; padding: 5px 0;">
                                   <h4 style="transform: none;">No</h4>
                                   <p style="transform: none;">-</p>
                               </div>
                           </div>
                        </div>
                   </div>
               </div>
            </div>
         </div>
      </div>
      <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
      <div class="mb-action-tray">
         <app-action-tray></app-action-tray>
      </div>
   </div>

   <app-popup></app-popup>
   <app-rules></app-rules>

</div>
<div class="bottom-divider mobile show">
   <img src="../../../assets/images/bottom-divider-mb.png" alt="">
</div>


