.info {
    top: 5px;
    left: 5px;
    z-index: 999;
    position: absolute;
    cursor: pointer;
}

.infoModal ul {
    list-style: none;
 }

 .infoModal li div {
    min-height: 50px;
    border-radius: 20px;
    border: 2px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-align-items: center;
    flex-wrap: wrap;
    font-family: Gilroy;
    background: var(--green);
    color: #112C3B;
    box-shadow: 0px 1px 0px rgb(255 255 255 / 30%), inset 0px 2px 3px rgb(0 0 0 / 50%);
 }
 .game-details{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px !important;
}
.flip-card{
    width: 26px !important;
}
.newGameText{
    font-family: 'Casino', sans-serif;
    text-shadow: 0px 0px 6px #fa74ef;

    -webkit-text-shadow: 0px 0px 6px #fa74ef;
    -moz-text-shadow: 0px 0px 6px #fa74ef;
}
.betResult{
    padding: 0 !important;
}
.betResult p{
    font-size: 17px;
    font-family: 'Casino', sans-serif;
    color: #fff !important;
    margin-right: 6px;
    letter-spacing: 1px;
}
.card-cb-selection p{
    font-size: 14px;
    line-height: 15px;
}
.bet-placed-container a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Casino", sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 10px #ffffff;

    -webkit-text-shadow: 0px 0px 10px #ffffff;
    -moz-text-shadow: 0px 0px 10px #ffffff;

    background: linear-gradient(247.74deg, #CB21E0 17.22%, #1CC3DE 79.49%);

    -webkit-background: linear-gradient(247.74deg, #CB21E0 17.22%, #1CC3DE 79.49%);
    -moz-background: linear-gradient(247.74deg, #CB21E0 17.22%, #1CC3DE 79.49%);

    filter: blur(40px);

    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);

    padding: 6px 32px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

    -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
    -moz-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

    z-index: 99;
    letter-spacing: 0.8px;


}
.bet-placed-container a::before{
    width: 100%;
    height: 100%;
    content: "";
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

    -webkit-background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    -moz-background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

    padding: 6px 32px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

    -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
    -moz-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

    z-index: 99;
}
.games-cb-control{
    position: relative;
}
.bet-cb-btn{
    width: 160px;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 82%;
    left: 51%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 4;
    background: url(../../../assets/images/bet-cb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bet-cb-btn h4{
    color: #FFFFFF;
    font-family: "Casino", sans-serif;
    margin: 28px 0 0;
    font-size: 35px;
    text-shadow: 0px 0px 2px #000;

    -webkit-text-shadow: 0px 0px 2px #000;
    -moz-text-shadow: 0px 0px 2px #000;
}
.games-btn{
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 170px;
    background: url(../../../assets/images/background-color-line.png);
    margin: 0 auto;
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}
.cb-first-layer{
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 190px;
    background: url(../../../assets/images/background-color-line.png);
    margin: 0 auto;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}
.cb-first-layer::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/semi-curve.png);
    background-position: center;
    background-size: 94%;
    background-repeat: no-repeat;
    margin-top: 7.67px;
    z-index: 2;
}
.cb-first-layer::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 99.5%;
    height: 100%;
    background: url(../../../assets/images/Table-background.png);
    background-position: center;
    background-size: 99%;
    background-repeat: no-repeat;
    z-index: 1;
}

.btn-small-blur3{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 485px;
    top: 66px;
    background: rgba(192, 143, 210);
    filter: blur(35px);

    -webkit-filter: blur(35px);
    -moz-filter: blur(35px);
    z-index: 3;
}
.btn-small-blur4{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 562px;
    top: 66px;
    background: rgba(192, 143, 210);
    filter: blur(35px);

    -webkit-filter: blur(35px);
    -moz-filter: blur(35px);
    z-index: 3;
}
.circle-blue-blur{
    position: absolute;
    width: 158px;
    height: 95px;
    top: 34px;
    right: 181px;
    background: rgba(94, 188, 215, 0.7);
    filter: blur(19px);

    -webkit-filter: blur(19px);
    -moz-filter: blur(19px);
    z-index: 2;
}

.game-btn-container{
    width: 100%;
    display: flex;
}
.game-btn-container .col-left{
    width: 450px;
    height: 164px;
    position: relative;
    top: 13px;
    left: 65px;
    display: flex;
    z-index: 999;
}
.game-btn-container .col-mid{
    width: 510px;
    height: 160px;
    position: relative;
    top: 16px;
    left: -8px;
    /* background-color: rgba(255, 0, 0, 0.425); */
    display: flex;
    justify-content: center;
    z-index: 3;
}
.game-btn-container .col-right{
    width: 440px;
    height: 166px;
    position: relative;
    top: 12px;
    left: -58px;
    /* background-color: rgba(255, 0, 179, 0.089); */
    display: flex;
    z-index: 999;
}
.first-right-bg{
    width: 99%;
    height: 100%;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    border-radius: 8px;
    background: black;
    overflow: hidden;
    background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));

    -webkit-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
    -moz-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
    transform: skew(37deg);

    -webkit-transform: skew(37deg);
    -moz-transform: skew(37deg);
}
.first-right-bg:nth-child(1){
    margin-right: 8px;
}
.first-right-bg:nth-child(2){
    margin-right: 6px;
}
.first-right-section{
    background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);

    -webkit-background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);
    -moz-background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);

    box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;

    -webkit-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;
    -moz-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;
    
    width: 100%;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    align-items: center;
    cursor: pointer;
}
.bottom-right-section{
    background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);

    -webkit-background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);
    -moz-background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);

    box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;

    -webkit-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;
    -moz-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;
    
    width: 100%;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}
.second-right-section{
    width: 92px;
    background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);

    -webkit-background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);
    -moz-background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);

    box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;
    
    -webkit-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;
    -moz-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;

    border-radius: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 10px 0;
}
.third-right-section{
    width: 121px;
    background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);

    -webkit-background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);
    -moz-background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);

    box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;
    
    -webkit-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;
    -moz-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;

    border-radius: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 10px 0;
}
.br-20{
    border-bottom-right-radius: 20px !important;
}

.b-bl-20{
    border-bottom-left-radius: 20px !important;
}
.b-br-23{
    border-bottom-right-radius: 23px !important;
}
.b-br-30{
    border-bottom-right-radius: 30px !important;
}
.br-50{
    border-bottom-left-radius: 50px;
}
.br-24{
    border-bottom-left-radius: 24px !important;
}
.br-10{
    border-bottom-left-radius: 10px !important; 
}
.br-32{
    border-bottom-right-radius: 32px !important;
}
.b-br-48{
    border-bottom-left-radius: 48px;
}
.b-bl-40{
    border-bottom-left-radius: 40px;
}
.first-right-section img,
.second-right-section img,
.third-right-section img,
.bottom-right-section img{
    transform: skew(-37deg);

    -webkit-transform: skew(-37deg);
    -moz-transform: skew(-37deg);

    width: 25px;
    height: 25px;
    margin-top: -2px;
}
.first-right-section h4,
.second-right-section h4,
.third-right-section h4,
.bottom-right-section h4{
    font-weight: 300;
    transform: skew(-37deg);
    
    -webkit-transform: skew(-37deg);
    -moz-transform: skew(-37deg);

    margin-bottom: 0px !important;
    text-transform: uppercase;
    font-family: 'Casino',sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 11px;
    margin-top: 4px;
}
.second-right-section h4,
.third-right-section h4{
    margin-right: 15px !important;
}
.first-right-section p,
.second-right-section p,
.third-right-section p,
.bottom-right-section p{
    font-weight: 300;
    transform: skew(-37deg);

    -webkit-transform: skew(-37deg);
    -moz-transform: skew(-37deg);

    font-size: 12px;
    margin-bottom: 0px !important;
}

.game-btn-container .col-left .first-left-bg{
    width: 168px;
    height: 100%;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    transform: skew(-36.8deg);

    -webkit-transform: skew(-36.8deg);
    -moz-transform: skew(-36.8deg);

    border-radius: 8px;
    background: black;
    overflow: hidden;
    background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));

    -webkit-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
    -moz-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
}
.first-inner-bg{
    width: 100%;
    height: 100%;
    margin-left: 2px;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 6px;
    border-radius: 8px;
    background: black;
    position: relative;
    padding-left: 2px;
}
.first-inner-bg::before{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    content: "";
    background: url(../../../assets/images/section-bg.png);
    background-size: cover;
    background-position: 63% 50%;
    opacity: 0.6;
    background-repeat: no-repeat;
}
.game-btn-container .col-left .first-left-bg .first-section-bg img{
    width: 20px;
    margin-bottom: 6px;
    margin-top: -4px;
}
.first-section-bg h4{
    margin-bottom: 0;
    font-family: 'Casino', sans-serif;
    margin-top: 5px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 5px;
    font-size: 17px;
}
.first-section{
    transform: skew(38deg);

    -webkit-transform: skew(38deg);
    -moz-transform: skew(38deg);
}
.second-section:hover{
    background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);

    -webkit-background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);
    -moz-background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);

    box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;

    -webkit-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;
    -moz-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;
}
.second-section{
    width: 100%;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    background: url(../../../assets/images/shade-andar-bahar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    align-items: center;
    cursor: pointer;
}
// .second-section.active .second-section-blur-effect{
//     background: linear-gradient(182deg, #571567 0%, #8E23A8 96.68%);
//     opacity: 0.6;
//     box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255), inset 0.279504px -8.00395px 8.00883px #4F135D, inset -0.279504px 8.00395px 8.00883px #9525B1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 5px;
// }
.second-section-blur-effect{
    background: none;
    opacity: 0.6;
    box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255), inset 0.279504px -8.00395px 8.00883px #4F135D, inset -0.279504px 8.00395px 8.00883px #9525B1;

    -webkit-box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255), inset 0.279504px -8.00395px 8.00883px #4F135D, inset -0.279504px 8.00395px 8.00883px #9525B1;
    -moz-webkit-box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255), inset 0.279504px -8.00395px 8.00883px #4F135D, inset -0.279504px 8.00395px 8.00883px #9525B1;
}
.second-section-bg{
    width: 100%;
    padding: 10px 0;
}

.third-section{
    width: 100%;
    height: 56px;
    text-align: center;
    margin-left: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);

    -webkit-background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);
    -moz-background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);

    box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;

    -webkit-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;
    -moz-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;
}
.third-section-blur-effect{
    background: rgba(35, 32, 32, 0.1);
    box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.second-section h4,
.third-section h4{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;

    transform: skew(37deg);

    -webkit-transform: skew(37deg);
    -moz-transform: skew(37deg);

    margin-left: -10px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: 'Casino',sans-serif;
    color: #fff;
}
.second-section-bg img{
    transform: skew(37deg);

    -webkit-transform: skew(37deg);
    -moz-transform: skew(37deg);
    
    width: 36px;
    margin: 12px 0;
}
.second-section p,
.third-section p{
    font-weight: 300;
    transform: skew(37deg);

    -webkit-transform: skew(37deg);
    -moz-transform: skew(37deg);

    font-size: 12px;
    margin-bottom: 0px;
}
.bottom-divider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-divider img{
    width: 80%;
    margin-top: -47px;
}
.cb-live-showcase{
    position: absolute;
    top: -11px;
    right: 4px;
    width: 80px;
}
.cb-timer-showcase{
    position: absolute;
    top: -11px;
    left: -7px;
    width: 80px;
    height: 80px;
    background: url(../../../assets/images/timer-showcase.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cb-pl{
    display: flex;
    justify-content: space-around;
    width: 100%;
    transform: skew(-34deg);

    -webkit-transform: skew(-34deg);
    -moz-transform: skew(-34deg);
}
.cb-pl span{
    font-size: 10px;
    font-weight: bold;
}
.p-green{
    color: #16DFBC;
}
.l-red{
    color: #E81145;
}
.coin-left-btn img,
.coin-right-btn img{
    width: 56px !important;
}
.coin-left-btn img{
    z-index: 999;
    position: absolute;
    top: 124px;
    left: 16px;
    transform: scaleX(-1);

    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
}
.coin-right-btn img{
    z-index: 999;
    position: absolute;
    top: 124px;
    right: 7px;
}
.show-pl-odds{
    display: flex;
    padding: 0 10px;
    width: 100%;
    justify-content: space-between;
}
.show-pl-odds h5,.show-pl-odds p{
    transform: skew(34deg);

    -webkit-transform: skew(34deg);
    -moz-transform: skew(34deg);
    
    margin: 0;
}
.show-pl-odds h5{
    font-size: 12px;
}
.show-pl-odds p{
    font-size: 15px;
    color: #B7FCF8;
    margin-left: 15px;
}

.mobile-only{
    display: none !important;
}
@media (max-width: 600px){
    .newGameText{
        font-size: 2rem !important;
    } 
    .bottom-divider img{
        width: 100%;
    }
    .cb-timer-showcase{
        width: 75px;
        height: 75px;
        top: -7px;
    }
    .cb-live-showcase{
        position: absolute;
        top: -7px;
        right: 4px;
        width: 75px;
    }
}
.mb-outer-border{
    position: relative;
    border: 1.5px solid #F092FF;
    border-radius: 20px;
    box-shadow: 0px -1px 11px -3px #f092ff;
    -webkit-box-shadow: 0px -1px 11px -3px #f092ff;
    -moz-box-shadow: 0px -1px 11px -3px #f092ff;
    background: url(../../../assets/images/player-cards.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn.mb-btn-shade{
    height: 100% !important;
    background: url(../../../assets/images/shade-andar-bahar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150% 100%; 
    box-shadow: none !important;
    justify-content: center !important;
    padding: 10px 0;
    align-items: center !important;
}

.mb-inner-layer:nth-child(1) .btn.mb-btn-shade{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mb-inner-layer:nth-child(2) .btn.mb-btn-shade{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn.mb-btn-shade p:nth-child(1){
    line-height: 18px;
    font-size: 16px;
    letter-spacing: 1px;
}
.btn.mb-btn-shade p:nth-child(2){
    line-height: 14px;
    font-size: 12px;
}
.bottom .btn.small-blocks{
    height: 100% !important;
    justify-content: center !important;
    padding: 5px 0 10px;
    align-items: center !important;
}
.bottom .btn.small-blocks p:nth-child(1){
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
} 
.bottom .btn.small-blocks p:nth-child(2){
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 12px;
} 
.bottom{
    position: relative;
}
.bottom.mb-outer-border::before{
    content: "";
    position: absolute;
    width: 138px;
    height: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(94, 188, 215, 0.7);
    filter: blur(19px);
    
    -webkit-filter: blur(19px);
    -moz-filter: blur(19px);
    z-index: -1;
}
.mb-action-tray{
    width: 100%;
    position: relative;
    height: 88px;
}
@media (min-width: 600px){
    .mb-action-tray{
        display: none;
    }
}
.player-controls.mobile .top{
    transform: perspective(150) rotate3d(1, 0, 0, -15deg) !important;

    -moz-transform: perspective(150) rotate3d(1, 0, 0, -15deg) !important;
    -webkit-transform: perspective(150) rotate3d(1, 0, 0, -15deg) !important;
}
@media (max-width: 600px){
    .desktop-only{
        display: none !important;
    }
    .mobile-only{
        display: flex !important;
    }
    .betResult p{
        font-size: 15px;
        letter-spacing: 1px;
    }
    .game-details{
        height: 100%;
        padding: 15px 0px 8px 0 !important;
    }
    .cb-row-mb{
        width: 100%;
        margin-right: 3px;
        position: relative;
        margin-left: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        background: black;
        overflow: hidden;
        background: linear-gradient(to bottom left, #90289e, #29667a, #2d84a1);
        -webkit-background: linear-gradient(to bottom left, #90289e, #29667a, #2d84a1);
        -moz-background: linear-gradient(to bottom left, #90289e, #29667a, #2d84a1);
    }
    .cb-row-inner-mb{
        width: 100%;
        height: 100%;
        margin-left: 2px;
        margin-right: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding-bottom: 6px;
        background: black;
        position: relative;
        overflow: hidden;
    }
    .cb-row-inner-mb::before{
        position: absolute;
        top: 0;
        width: 100%;
        content: "";
        height: 100%;
        left: 0;
        background: url(../../../assets/images/section-bg.png);
        background-size: cover;
        background-position: 63% 50%;
        opacity: 1;
        
        background-repeat: no-repeat;
    }
}
.mb-flex{
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    display: flex !important;
    padding: 0 10px !important;
    width: 100%;
}
.btn.mb-btn-shade.back{
    height: 100% !important;
    position: relative;
    justify-content: center !important;
    padding: 10px 0;
    overflow: hidden;
    align-items: center !important;
    background: linear-gradient(196.12deg, rgba(24, 139, 194, 0.92) -4.97%, #082436 85.63%);
    box-shadow: 8.20513e-16px 13.4px 26.8px rgba(5, 24, 34, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #0F4E70, inset 3.59203e-16px 5.86622px 5.86622px #1D96DA;
}
.btn.mb-btn-shade.back:hover{
    border: 2px solid #1D96DA;
}
.btn.mb-btn-shade.back:active{
    border: none;
    background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);
    
    -webkit-background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);
    -moz-background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);

    box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;

    -webkit-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;
    -moz-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;
}
.btn.mb-btn-shade.back::before{
    background: rgba(35, 32, 32, 0.1);
    box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.btn.mb-btn-shade.lay{
    height: 100% !important;
    position: relative;
    justify-content: center !important;
    padding: 10px 0;
    align-items: center !important;
    overflow: hidden;
    background: linear-gradient(180deg, #601872 0%, #4b105a 100%);
    box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;
}
.btn.mb-btn-shade.lay:hover{
    border: 2px solid #A92AC8;
}
.btn.mb-btn-shade.lay:active{
    border: none;
    background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);

    -webkit-background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);
    -moz-background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);

    box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;

    -webkit-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;
    -moz-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;
}
.btn.mb-btn-shade.lay::before{
    background: rgba(35, 32, 32, 0.1);
    box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.mb-inner-layer{
    width: 100%;
}
.first-col-cb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.first-col-cb p{
    line-height: 13px;
    font-size: 12px;
    letter-spacing: 1px;
}
.first-col-cb p:nth-child(2){
    font-family: 'Quicksand',sans-serif;
}