<div class="toasterBox position-fixed">
  <div class="toaster" id="snackbar">
    <div class="text-center d-flex flex-wrap align-items-center justify-content-center">
      <span>Maximum stake is 10</span>
    </div>
    <span class="bottom-arrow"></span>
  </div>
  <div class="toaster tostb" id="snackbar2">
    <div class="text-center d-flex flex-wrap align-items-center justify-content-center">
      <span>Oops! please contact your up line to place a bet</span>
    </div>
    <span class="bottom-arrow"></span>
  </div>
  <div class="toaster tostc" id="snackbar3">
    <div class="text-center d-flex flex-wrap align-items-center justify-content-center">
      <span>Maximum stake reached</span>
    </div>
    <span class="bottom-arrow"></span>
  </div>
  <div class="toaster tostd" id="snackbar4">
    <div class="text-center d-flex flex-wrap align-items-center justify-content-center">
      <span>Maximum stake is 10</span>
    </div>
    <span class="bottom-arrow"></span>
  </div>
</div>

<button id="liveToastBtn" class="btn-primary text-uppercase fs-8 px-1 px-md-2 py-1 mx-1 mx-md-2" (click)="toasts('snackbar')">liveToastBtn1</button>
<button id="liveToastBtn" class="btn-primary text-uppercase fs-8 px-1 px-md-2 py-1 mx-1 mx-md-2" (click)="toasts('snackbar2')">liveToastBtn2</button>
<button id="liveToastBtn" class="btn-primary text-uppercase fs-8 px-1 px-md-2 py-1 mx-1 mx-md-2" (click)="toasts('snackbar3')">liveToastBtn3</button>
<button id="liveToastBtn" class="btn-primary text-uppercase fs-8 px-1 px-md-2 py-1 mx-1 mx-md-2" (click)="toasts('snackbar4')">liveToastBtn4</button>