// toasts
$toaster-border: #886FA4;
.toasterBox {
  position: fixed;
  z-index: 1;
  left: 5%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: 1024px) {

  }
  .toaster {
    display: none;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    min-width: 170px;
    max-width: 320px;
    width: auto;
    min-height: 40px;
    background-color: transparent;
    color: #B5BAC1;
    border: 1px solid $toaster-border;
    border-bottom: 0;
    border-radius: 14px;
    text-align: center;
    padding: 12px 15px;
    font-size: 12px;
    letter-spacing: .4px;
    transition: .3s ease-in-out;
    @media (max-width: 1024px) {
      padding: 10px 15px;
      font-size: 10px;
    }
    &:not(:last-child){
      margin-bottom: 20px;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(50% - 7px);
      height: 100%;
      border-bottom: 1px solid #886FA4;
    }
    &::before {
      left: 0;
      border-radius: 0 0 0 14px;
    }
    &::after {
      right: 0;
      border-radius: 0 0 14px 0;
    }
    .bottom-arrow {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 10px;
      height: 10px;
      transform: translate(-50%, -5px) rotate(-45deg);
      border-left: 1px solid $toaster-border;
      border-bottom: 1px solid $toaster-border;
      background: transparent;
    }
    &.show {
      display: flex;
      -webkit-animation: fadein 0.5s, fadeout 0.3s 2.5s;
      animation: fadein 0.5s, fadeout 0.3s 2.5s;
    }
    &.tost {
      &b {
        background-color: rgba(199, 119, 205, 0.17);
        color: #B5BAC1;
        border-color: $toaster-border;
        &::after,
        &::before {
          border-color: $toaster-border;
        }
        .bottom-arrow {
          border-color: $toaster-border;
          background: rgba(199,119,205, .17);
          background: -moz-linear-gradient(-135deg, rgba(2,0,36,0) 52%, rgba(199,119,205,0.17) 51%, rgba(199,119,205,0.17) 100%);
          background: -webkit-linear-gradient(-135deg, rgba(2,0,36,0) 52%, rgba(199,119,205,0.17) 51%, rgba(199,119,205,0.17) 100%);
          background: linear-gradient(-135deg, rgba(2,0,36,0) 52%, rgba(199,119,205,0.17) 51%, rgba(199,119,205,0.17) 100%);
        }
      }
      &c {
        box-shadow: inset 0px 4px 18px rgba(154, 146, 210, 0.3), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        filter: drop-shadow(0px 98px 100px rgba(202, 172, 255, 0.3));
        background: rgba(249, 249, 249, 0.0036);
        background: -moz-linear-gradient(91.9deg, rgba(249, 249, 249, 0.016) 24.73%, rgba(249, 249, 249, 0.0036) 102.03%);
        background: -webkit-linear-gradient(91.9deg, rgba(249, 249, 249, 0.016) 24.73%, rgba(249, 249, 249, 0.0036) 102.03%);
        background: linear-gradient(91.9deg, rgba(249, 249, 249, 0.016) 24.73%, rgba(249, 249, 249, 0.0036) 102.03%);
        color: #B5BAC1;
        border-color: $toaster-border;
        &::after,
        &::before {
          border-color: $toaster-border;
        }
        .bottom-arrow {
          border-color: $toaster-border;
          background: rgba(249, 249, 249, 0.0036);
          background: -moz-linear-gradient(91.9deg, rgba(249, 249, 249, 0.016) 24.73%, rgba(249, 249, 249, 0.0036) 102.03%);
          background: -webkit-linear-gradient(91.9deg, rgba(249, 249, 249, 0.016) 24.73%, rgba(249, 249, 249, 0.0036) 102.03%);
          background: linear-gradient(91.9deg, rgba(249, 249, 249, 0.016) 24.73%, rgba(249, 249, 249, 0.0036) 102.03%);
        }
      }
      &d {
        background: #D773F0;
        background: -moz-radial-gradient(126.7% 495.51% at -16.25% -34.18%, #D773F0 0%, rgba(232, 199, 252, 0) 100%);
        background: -webkit-radial-gradient(126.7% 495.51% at -16.25% -34.18%, #D773F0 0%, rgba(232, 199, 252, 0) 100%);
        background: radial-gradient(126.7% 495.51% at -16.25% -34.18%, #D773F0 0%, rgba(232, 199, 252, 0) 100%);
        color: #B5BAC1;
        .bottom-arrow {
          background: rgba($color: #D773F0, $alpha: 1);
          background: -moz-linear-gradient(-135deg, rgba(2,0,36,0) 52%, rgba($color: #D773F0, $alpha: 0.4) 51%, rgba($color: #D773F0, $alpha: 0.5) 100%);
          background: -webkit-linear-gradient(-135deg, rgba(2,0,36,0) 52%, rgba($color: #D773F0, $alpha: 0.4) 51%, rgba($color: #D773F0, $alpha: 0.5) 100%);
          background: linear-gradient(-135deg, rgba(2,0,36,0) 52%, rgba($color: #D773F0, $alpha: 0.4) 51%, rgba($color: #D773F0, $alpha: 0.5) 100%);
        }
      }
    }
  }
}

@-webkit-keyframes fadein {
  from {transform: translateY(0); opacity: 0;}
  to {transform: translateY(30px); opacity: 1;}
}

@keyframes fadein {
  from {transform: translateY(0); opacity: 0;}
  to {transform: translateY(30px); opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {transform: translateY(30px); opacity: 1;}
  to {transform: translateY(0); opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}