@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
html,
body {
    overflow-x: hidden;
}
body {
    background: #07142c !important;
    font-family: "Gilroy", sans-serif !important;
}

.fs {
    &-7 {
        font-size: 14px;
    }
    &-8 {
        font-size: 12px;
    }
    &-9 {
        font-size: 10px;
    }
    &-10 {
        font-size: 9x;
    }
}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  
    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
  }
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
img,
li {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.cursor-pointer {
    cursor: pointer;
}
.cb-primary-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: url(./assets/images/gradient-bg.png);
    backdrop-filter: blur(42px);

    -webkit-backdrop-filter: blur(42px);
    -moz-backdrop-filter: blur(42px);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ellipse-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        #07142c 23.95%,
        rgba(7, 20, 44, 0.778125) 48.06%,
        rgba(7, 20, 44, 0.554167) 58.93%,
        rgba(7, 20, 44, 0.423958) 73.58%,
        rgba(7, 20, 44, 0.246875) 83.51%,
        rgba(7, 20, 44, 0.142708) 92.49%,
        rgba(7, 20, 44, 0) 100%
    );

    -webkit-background: linear-gradient(
        180deg,
        #07142c 23.95%,
        rgba(7, 20, 44, 0.778125) 48.06%,
        rgba(7, 20, 44, 0.554167) 58.93%,
        rgba(7, 20, 44, 0.423958) 73.58%,
        rgba(7, 20, 44, 0.246875) 83.51%,
        rgba(7, 20, 44, 0.142708) 92.49%,
        rgba(7, 20, 44, 0) 100%
    );
    -moz-background: linear-gradient(
        180deg,
        #07142c 23.95%,
        rgba(7, 20, 44, 0.778125) 48.06%,
        rgba(7, 20, 44, 0.554167) 58.93%,
        rgba(7, 20, 44, 0.423958) 73.58%,
        rgba(7, 20, 44, 0.246875) 83.51%,
        rgba(7, 20, 44, 0.142708) 92.49%,
        rgba(7, 20, 44, 0) 100%
    );
}
@media (min-width: 768px) {
    body {
        font-size: 14px !important;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 15px !important;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 16px !important;
    }
}
.actionTryBg {
    opacity: 0.9;
    filter: blur(5);
}
.ro-bg {
    transition: 0.3s ease-in-out;
    opacity: 0.6;
    position: relative;
    z-index: 99;
    &.active,
    &.play,
    &:focus,
    &:hover {
        opacity: 1;
    }
}
// body.modal-open .ro-bg {
//     &.active1,
//     &.active2,
//     &.active3 {
//         opacity: 1;
//     }
// }
.smoke {
    position: fixed;
    right: 0;
    top: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none !important;
}

.swiper-button-prev {
    background-image: url(/assets/images/left-nav-arrow.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: margin 0.1s linear;
    background: #226998;
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    margin-top: -15px !important;
}

.swiper-button-prev:hover {
    margin-left: -5px !important;
}

.swiper-button-next {
    background-image: url(/assets/images/right-nav-arrow.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: margin 0.1s linear;
    background: #226998;
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    margin-top: -15px !important;
}

.swiper-button-next:hover {
    margin-right: -5px !important;
}
.navSlider {
    background: linear-gradient(
        210.25deg,
        rgba(183, 53, 199, 0.2) 1.96%,
        rgba(101, 76, 210, 0.2) 31.57%,
        rgba(113, 139, 184, 0.2) 66.14%,
        rgba(45, 165, 217, 0.2) 74.28%,
        rgba(72, 181, 199, 0.2) 95.16%
    );

    -webkit-background: linear-gradient(
        210.25deg,
        rgba(183, 53, 199, 0.2) 1.96%,
        rgba(101, 76, 210, 0.2) 31.57%,
        rgba(113, 139, 184, 0.2) 66.14%,
        rgba(45, 165, 217, 0.2) 74.28%,
        rgba(72, 181, 199, 0.2) 95.16%
    );
    -moz-background: linear-gradient(
        210.25deg,
        rgba(183, 53, 199, 0.2) 1.96%,
        rgba(101, 76, 210, 0.2) 31.57%,
        rgba(113, 139, 184, 0.2) 66.14%,
        rgba(45, 165, 217, 0.2) 74.28%,
        rgba(72, 181, 199, 0.2) 95.16%
    );

    box-shadow: 0px 0px 1.23967px rgb(0 0 0 / 20%);

    -webkit-box-shadow: 0px 0px 1.23967px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 1.23967px rgb(0 0 0 / 20%);
    backdrop-filter: blur(28.5124px);
    -webkit-backdrop-filter: blur(28.5124px);
    -moz-backdrop-filter: blur(28.5124px);
    border-radius: 50px;
    width: 95% !important;
    margin: 0 auto;
    padding: 0 45px !important;
}
.swiper-container {
    width: 100%;
    // background: #fff !important;
    padding: 0 45px !important;
    min-height: 38px !important;
    max-height: 44px !important;
    overflow: hidden !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static !important;
}
.swiper-wrapper {
    position: static !important;
    align-items: center;
}
.modal-backdrop.show {
    z-index: 1;
    display: none;
}
.modal-body {
    background: rgba(0, 0, 0, 0.1) !important;
    box-shadow: inset 38.2333px -38.2333px 38.2333px rgba(149, 149, 149, 0.1),
        inset -38.2333px 38.2333px 38.2333px rgba(255, 255, 255, 0.1);

    -webkit-box-shadow: inset 38.2333px -38.2333px 38.2333px rgba(149, 149, 149, 0.1),
        inset -38.2333px 38.2333px 38.2333px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 38.2333px -38.2333px 38.2333px rgba(149, 149, 149, 0.1),
        inset -38.2333px 38.2333px 38.2333px rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(26.4667px);

    -webkit-backdrop-filter: blur(26.4667px);
    -moz-backdrop-filter: blur(26.4667px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 38px;
    padding: 4rem 2rem !important;
}
.modal-body h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.modal-body li {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1px;
}
.cb-height {
    height: 400px;
    overflow-y: scroll;
    padding-right: 30px;
}

.cb-height {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 1);
        border-radius: 10px;
    }
}
.modal-dialog-centered {
    min-height: calc(100% - 10.5rem) !important;
}
#rulesModal {
    background: rgba(0, 0, 0, 0.664) !important;
}
.modal-open {
    padding: 0 !important;
}
@media (max-width: 600px) {
    .desktop-only {
        display: none !important;
    }
    .swiper-container {
        width: 100% !important;
        border-radius: 0;
    }
    .swiper-slide .row {
        margin: 5px 0px !important;
    }
}

.coin-cb {
    width: 55px;
    height: 55px;
    // position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(assets/images/coin-btn.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.coin-selected {
    .coin-cb {
        background-image: url(assets/images/coin-red-btn.png);
        // animation: coinChanger .3s ;
    }
}

@keyframes coinChanger {
    50% {
        background-image: url(assets/images/coin-btn.png);
    }
    100% {
        background-image: url(assets/images/coin-red-btn.png);
    }
}

.item2 {
    .coin-cb {
        background-image: url(assets/images/coin.png);
    }
}
.coin-cb p {
    margin: 0;
    font-size: 9px !important;
}

// Slider
.minCoin {
    overflow: hidden;
    height: 166px;
}
.minCoin-in {
    display: flex;
    width: 360px;
    height: 320px;
    align-items: center;
    justify-content: center;
}
.wrapper {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    transition: 0.5s;
    transform-origin: center;
}

.item,
.item2 {
    transform-origin: center;
    transition: 0.5s;
    position: absolute;
    width: 100px;
    height: 100px;
    // border-radius: 50%;
    // border: 1px solid #FF80AB;
    // display: inline-block;
    // margin: 0;
    // font-size: 3em;
    // font-family: sans-serif;
    // color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    .coin-cb {
        width: 100% !important;
        height: 100% !important;
    }
}

.place-white::-webkit-input-placeholder {
    /* Edge */
    color: #fff;
}

.place-white:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.place-white::placeholder {
    color: #fff;
}
