// .game-name {
//     background: linear-gradient(180deg,rgba(125,185,232,0) 0,#d33517);
//     font-size: 16px;
//     font-weight: 600;
//     text-transform: uppercase;
//     padding: 10px 0 15px;
//     line-height: 100%;
// }

* {
    font-family: 'Quicksand',sans-serif;
  }
  
  body {
    font-size: 14px;
    font-weight: 500;
  }
  
  .pr-10 {
    padding-right: 10px !important;
  }
  
  .pl-10 {
    padding-left: 10px !important;
  }
  
  .valign-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .valign-wrapper-score-left {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: right;
  }
  
  .valign-wrapper-score-right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
  
  body {
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --tab-text-color: #5F7AA1;
    --white-text: #fff;
    --black-text: #000;
    --background-img: none;
    --background-color: #f4f8fc;
    --tab-background-color:#fff;
  }
  
  body.dark {
    --primary-text-color: #fff;
    --secondary-text-color: #000;
    --tab-text-color: #5F7AA1;
    --white-text: #fff;
    --black-text: #000;
    --background-color: #000;
    --tab-background-color: linear-gradient(210.25deg, rgba(183, 53, 199, 0.1) 1.96%, rgba(101, 76, 210, 0.1) 31.57%, rgba(113, 139, 184, 0.1) 66.14%, rgba(45, 165, 217, 0.1) 74.28%, rgba(72, 181, 199, 0.1) 95.16%);
    --background-img: url('../../../assets/images/dark-background.png');
  }
  
  .dark {
    background-image: var(--background-img);
  }
  
  .supernova-lobby {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background-color);
  }
  
  .supernova-lobby .navbar a.navbar-brand {
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }
  
  .supernova-lobby .navbar .nav .nav-item a {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .supernova-lobby .navbar .nav .nav-item a.balance {
    border-radius: 50px;
    background: linear-gradient(281.65deg, rgba(240, 152, 220, 0.175) 18.31%, rgba(238, 238, 238, 0.105) 81.43%);
  }
  
  .supernova-lobby .navbar .nav .nav-item a.balance svg {
    position: relative;
    top: 3px;
  }
  
  .supernova-lobby .navbar .nav .nav-item a .user-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .supernova-lobby .navbar .nav .nav-item a .user-name .user-img {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    background: #000;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .supernova-lobby .navbar .nav .nav-item a .user-name .user-img:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(140.55deg, #00C2FF 18.18%, rgba(69, 160, 189, 0) 84.74%);
  }
  
  .supernova-lobby .navbar .nav .nav-item a .user-name .user-img:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 3px;
    z-index: 0;
    margin: -2px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    width: 28px;
    height: 28px;
    background: linear-gradient(147.2deg, #00E0FF 11.21%, rgba(0, 193, 255, 0.24) 86.17%);
  }
  
  .supernova-lobby .navbar .nav .nav-item a .user-name .user-img .images {
    z-index: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 50%;
  }
  
  .supernova-lobby .navbar .nav .nav-item a .user-name .user-img .status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D5EDDB), to(#049A25));
    background: linear-gradient(180deg, #D5EDDB 0%, #049A25 100%);
    -webkit-filter: blur(0.83333px);
            filter: blur(0.83333px);
    z-index: 1;
    border-radius: 50%;
  }
  
  .supernova-lobby .navbar .nav .nav-item .dropdown-menu {
    background-image: url(../../../assets/images/active-tab-bg.png), -webkit-gradient(linear, left top, right top, color-stop(-2.63%, #43b8cb), color-stop(51.6%, rgba(228, 124, 241, 0.7)), color-stop(109.6%, #603a64));
    background-image: url(../../../assets/images/active-tab-bg.png), linear-gradient(90deg, #43b8cb -2.63%, rgba(228, 124, 241, 0.7) 51.6%, #603a64 109.6%);
    background-size: auto;
  }
  
  .supernova-lobby .navbar .nav .nav-item .dropdown-menu a {
    font-size: 14px;
    padding: 3px 10px;
    color: var(--white-text);
  }
  
  .supernova-lobby .navbar .nav .nav-item .dropdown-menu a:hover {
    color: var(--primary-text-color);
  }
  
  .supernova-lobby .navbar .nav .nav-item.names .dropdown-menu {
    left: -40px;
  }
  
  .supernova-lobby .lobby .nav-tabs {
    border: none;
    background: var(--tab-background-color);
    max-width: 350px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 30px;
  }
  
  .supernova-lobby .lobby .nav-tabs li {
    line-height: 50px;
  }
  
  .supernova-lobby .lobby .nav-tabs li a {
    color: var(--tab-text-color);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
  }
  
  .supernova-lobby .lobby .nav-tabs li a:hover {
    text-decoration: none;
  }
  
  .supernova-lobby .lobby .nav-tabs li a.active {
    border-radius: 30px;
    color: var(--white-text);
    text-decoration: none;
    // background-image: url("../../../assets/images/active-tab-bg.png"), -webkit-gradient(linear, left top, right top, color-stop(-2.63%, #43b8cb), color-stop(51.6%, rgba(228, 124, 241, 0.7)), color-stop(109.6%, #603a64));
    background-image: url("../../../assets/images/tab-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .supernova-lobby .lobby .nav-tabs li a.active:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(63.9deg, rgba(72, 181, 199, 0.66) 1.37%, rgba(117, 95, 214, 0.58) 41.3%, rgba(212, 92, 227, 0.75) 79.6%);
  }
  
  .supernova-lobby .lobby .tab-content .portfolio {
    margin: 30px 0px;
    position: relative;
  }
  
  .supernova-lobby .lobby .tab-content .portfolio .port-content {
    width: 14.1%;
    text-align: center;
  }
  
  .supernova-lobby .lobby .tab-content .portfolio .port-content .port-inner {
    padding: 5px;
  }
  
  .supernova-lobby .lobby .tab-content .portfolio .port-content .port-inner .thumb img {
    max-width: 183px;
  }
  
  .supernova-lobby .lobby .tab-content .portfolio .port-content:nth-child(odd) .port-inner {
    bottom: -15px;
    position: relative;
  }
  
  .supernova-lobby .lobby .tab-content .portfolio .port-content:nth-child(even) .port-inner {
    top: -10px;
    position: relative;
  }
  
  .supernova-lobby.dark .navbar .nav .nav-item .dropdown-menu a:hover {
    color: var(--secondary-text-color);
  }
  
  .toggle-switch {
    position: relative;
    top: 7px;
    margin: 0 5px;
    /* -------- Switch Styles ------------*/
    /* Toggle */
  }
  
  .toggle-switch .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33px;
    border-radius: 50px;
    background: linear-gradient(281.65deg, rgba(240, 152, 220, 0.175) 18.31%, rgba(238, 238, 238, 0.105) 81.43%);
  }
  
  .toggle-switch label, .toggle-switch .toggle {
    height: 30px;
    border-radius: 100px;
    margin-bottom: 0;
  }
  
  .toggle-switch label {
    width: 100%;
    position: relative;
    cursor: pointer;
  }
  
  .toggle-switch .toggle {
    position: absolute;
    width: 30px;
    height: 29px;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .toggle-switch .names {
    width: 100%;
    height: 30px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .toggle-switch .names p {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .toggle-switch .names p i {
    height: 30px;
    line-height: 34px;
    font-size: 20px;
  }
  
  .toggle-switch .names p img {
    width: 20px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .toggle-switch .names p.light svg path {
    fill: #b16adf;
  }
  
  .toggle-switch .names p.light img {
    width: 25px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .toggle-switch .names p svg {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .toggle-switch [type="checkbox"] {
    display: none;
  }
  
  .toggle-switch [type="checkbox"]:checked + .switch-app label {
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  
  .toggle-switch [type="checkbox"]:not(:checked) + .switch-app label .names .light {
    color: #4a6776;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
  }
  
  .toggle-switch [type="checkbox"]:not(:checked) + .switch-app label .names .light svg {
    opacity: 0;
  }
  
  .toggle-switch [type="checkbox"]:not(:checked) + .switch-app label .names .dark {
    color: #858585;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .toggle-switch [type="checkbox"]:checked + .switch-app label .names .light {
    color: #b876db;
  }
  
  .toggle-switch [type="checkbox"]:checked + .switch-app label .names .dark {
    opacity: 0;
  }
  
  .toggle-switch [type="checkbox"]:checked + .switch-app label .names .dark svg {
    opacity: 0;
  }
  
  .toggle-switch [type="checkbox"]:not(:checked) + .switch-app label {
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .toggle-switch [type="checkbox"]:not(:checked) + .switch-app .toggle {
    top: 2px;
    left: 2px;
    z-index: 1;
  }
  
  .toggle-switch [type="checkbox"]:checked + .switch-app .toggle {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    top: 2px;
    bottom: 2px;
    z-index: 1;
    opacity: 0;
  }
  
  .toggle-switch [type="checkbox"]:checked + .switch-app .dark {
    opacity: 1;
  }
  
  /*media query*/
  @media only screen and (max-width: 575px) {
    .supernova-lobby .navbar {
      padding: 5px;
    }
    .supernova-lobby .navbar .nav .nav-item .dropdown-menu {
      left: -85px;
    }
    .supernova-lobby .navbar .nav .nav-item a {
      padding: 5px;
    }
    .supernova-lobby .navbar .nav .nav-item a .title {
      display: none;
    }
    .supernova-lobby .navbar .nav .nav-item a span svg {
      position: relative;
      top: 4px;
    }
    .supernova-lobby .navbar .nav .nav-item.names .dropdown-menu {
      left: -85px;
    }
    .supernova-lobby .lobby .nav-tabs {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 10px !important;
    }
    .supernova-lobby .lobby .nav-tabs li {
      line-height: 40px;
    }
    .supernova-lobby .lobby .nav-tabs li a {
      font-size: 15px;
      font-weight: 700;
      padding: 5px 20px;
    }
    .supernova-lobby .lobby .tab-content .portfolio .port-content {
      width: 50%;
    }
    .supernova-lobby .lobby .tab-content .portfolio .port-content .port-inner .thumb img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    .supernova-lobby .lobby .tab-content .portfolio .port-content {
      width: 33%;
    }
    .supernova-lobby .lobby .tab-content .portfolio .port-content .port-inner .thumb img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .supernova-lobby .lobby .tab-content .portfolio .port-content {
      width: 20%;
    }
    .supernova-lobby .lobby .tab-content .portfolio .port-content .port-inner .thumb img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .supernova-lobby .lobby .tab-content .portfolio .port-content {
      width: 20%;
    }
    .supernova-lobby .lobby .tab-content .portfolio .port-content .port-inner .thumb img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1499px) {
    .supernova-lobby .lobby .tab-content .portfolio .port-content {
      width: 16.66%;
    }
  }
  
  @media (min-width: 1920px) {
    .supernova-lobby .lobby .tab-content .portfolio .port-content {
      width: 11%;
    }
  }