<!-- <div class="row m-2 mx-md-5 g-4">
<ng-container *ngFor="let item of gameList | keyvalue:keepOriginalOrder">
    <div class="col-md-3 col-6" title="{{item.value.name}}">
        <a class="cursor-pointer text-decoration-none" routerLink="/{{item.key}}">
            <div class="position-relative rounded-3 overflow-hidden">
                <img src="{{item.value.imagePath}}" class="img-responsive w-100" alt="{{item.Name}}">
                <div class="game-name text-white position-absolute w-100 text-center bottom-0">{{item.value.name}}</div>
            </div>
        </a>
    </div>
</ng-container>
</div> -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="supernova-lobby">

	<nav style="display: none;" class="navbar navbar-expand navbar-light">
		
		<a class="navbar-brand" href="#">Supernowa</a>
	
		<div class="navbar-collapse" id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item toggle-switch">
					<input type="checkbox" id="switch">
					<div class="switch-app">
						
							<div class="content">
							
							<label for="switch">
								<div class="toggle"></div>
								<div class="names">
								<p class="light">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.24 25.178" width="20" height="20">
									<g id="Group_3" transform="translate(-1073.83 -675.943)" data-name="Group 3">
										<path id="Path_1" fill="#ff9b09" transform="translate(-45.888 400.063) rotate(3)" d="M 1141.64 223.276 l -3.852 -3.944 l -1.547 1.393 l 4.01 4.025 Z" data-name="Path 1" />
										<path id="Path_2" fill="#ff9b09" transform="translate(-168.174 500.976)" d="M 1253.96 180.713 l 0.032 -5.746 h 1.968 v 5.746 Z" data-name="Path 2" />
										<path id="Path_3" fill="#ff9b09" transform="translate(-218.06 390.752) rotate(3)" d="M 1322.36 223.379 l 3.844 -3.988 l 1.53 1.422 l -3.893 3.928 Z" data-name="Path 3" />
										<path id="Path_4" fill="#ff9b09" transform="matrix(0.998 0.07 -0.07 0.998 -233.764 256.876)" d="M 1353.91 337.163 h 5.756 v 1.966 h -5.756 Z" data-name="Path 4" />
										<path id="Path_5" fill="#ff9b09" transform="translate(-206.814 219.648) rotate(3)" d="M 1321.94 404.826 l 4.019 4.007 l -1.386 1.431 l -4.057 -3.965 Z" data-name="Path 5" />
										<path id="Path_6" fill="#ff9b09" transform="matrix(0.995 0.105 -0.105 0.995 -116.358 129.195)" d="M 1256.27 443.038 h -2.045 v -5.7 h 2.045 Z" data-name="Path 6" />
										<path id="Path_7" fill="#ff9b09" transform="translate(-36.146 229.555) rotate(3)" d="M 1135.53 407.825 l 4.144 -4 l 1.391 1.443 l -4.045 4.03 Z" data-name="Path 7" />
										<path id="Path_8" fill="#ff9b09" transform="matrix(0.998 0.07 -0.07 0.998 8.164 274.816)" d="M 1097.66 337 v 1.858 h -5.7 v -1.94 l 5.7 -0.012 Z" data-name="Path 8" />
										<path id="Path_9" fill="#ff9b09" transform="translate(-117.404 400.953)" d="M 1203.86 282.988 a 3.81 3.81 0 0 1 0.559 4.651 c -1.567 2.586 -5.076 0.971 -5.076 0.971 a 4.568 4.568 0 0 1 0.959 -3.983 A 4.231 4.231 0 0 1 1203.86 282.988 Z" data-name="Path 9" />
										<path id="Path_10" fill="#ff9b09" transform="translate(-127.572 397.159)" d="M 1210.21 293.825 a 5.35 5.35 0 0 0 2.72 0.085 a 4.853 4.853 0 0 0 2.659 -2.076 a 4.441 4.441 0 0 0 -0.061 -4.76 a 4.573 4.573 0 0 1 1.688 1.032 c 1.117 1.062 2.2 3.043 0.607 5.8 a 4.757 4.757 0 0 1 -5.9 1.53 A 3.356 3.356 0 0 1 1210.21 293.825 Z" data-name="Path 10" />
									</g>
									</svg>
								
								</p>
								<p class="dark">
									<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="20" height="20" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
										<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
										<path d="M2510 5113 c-25 -1 -97 -10 -160 -19 -1267 -172 -2210 -1254 -2210 -2534 0 -936 500 -1783 1325 -2243 490 -274 1098 -376 1670 -281 667 111 1274 501 1650 1059 57 86 195 325 195 339 0 2 -64 -19 -142 -45 -252 -85 -461 -115 -728 -106 -180 7 -302 24 -455 64 -706 185 -1261 742 -1441 1444 -39 153 -54 258 -61 415 -31 725 369 1459 1000 1835 l78 47 -58 6 c-209 23 -495 31 -663 19z"></path>
										</g>
									</svg>
								</p>
								</div>
							</label>
							</div>
						
						</div>
					</li>
				<li class="nav-item dropdown mr-2">
					<a class="nav-link dropdown-toggle balance" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span>
							<svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d_28_17)">
								<path d="M4.29453 2.5C4.29453 1.83696 4.57077 1.20107 5.06248 0.732233C5.55419 0.263392 6.22109 0 6.91648 0L22.6482 0C23.3436 0 24.0105 0.263392 24.5022 0.732233C24.9939 1.20107 25.2701 1.83696 25.2701 2.5V8.75H4.29453V2.5ZM19.3707 3.75C19.1969 3.75 19.0302 3.81585 18.9072 3.93306C18.7843 4.05027 18.7153 4.20924 18.7153 4.375V5.625C18.7153 5.79076 18.7843 5.94973 18.9072 6.06694C19.0302 6.18415 19.1969 6.25 19.3707 6.25H21.9927C22.1665 6.25 22.3333 6.18415 22.4562 6.06694C22.5791 5.94973 22.6482 5.79076 22.6482 5.625V4.375C22.6482 4.20924 22.5791 4.05027 22.4562 3.93306C22.3333 3.81585 22.1665 3.75 21.9927 3.75L19.3707 3.75ZM4.29453 11.25V12.5C4.29453 13.163 4.57077 13.7989 5.06248 14.2678C5.55419 14.7366 6.22109 15 6.91648 15H22.6482C23.3436 15 24.0105 14.7366 24.5022 14.2678C24.9939 13.7989 25.2701 13.163 25.2701 12.5V11.25H4.29453Z" fill="url(#paint0_linear_28_17)"/>
								</g>
								<defs>
								<filter id="filter0_d_28_17" x="0.294525" y="0" width="28.9756" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix"/>
								<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
								<feOffset dy="4"/>
								<feGaussianBlur stdDeviation="2"/>
								<feComposite in2="hardAlpha" operator="out"/>
								<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_28_17"/>
								<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_28_17" result="shape"/>
								</filter>
								<linearGradient id="paint0_linear_28_17" x1="16.9374" y1="2.56329" x2="13.1292" y2="12.4267" gradientUnits="userSpaceOnUse">
								<stop stop-color="#C626DA"/>
								<stop offset="1" stop-color="#27BDD6"/>
								</linearGradient>
								</defs>
								</svg>
							<span class="title">999,000,657.49</span>
						</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">Dropdown 1</a>
						<a class="dropdown-item" href="#">Dropdown 2</a>
						<a class="dropdown-item" href="#">Dropdown 3</a>
						<a class="dropdown-item" href="#">Dropdown 4</a>
						<a class="dropdown-item" href="#">Dropdown 5</a>
					</div>
				</li>
				<li class="nav-item dropdown names">
					<a class="user nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="user-name"> 
							<span class="title">John</span>
							<span class="user-img">
								<img class="images" src="../../../assets/images/user.png">
								<span class="status">

								</span>
							</span>
						
						</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdown02">
						<a class="dropdown-item" href="#">Dropdown 1</a>
						<a class="dropdown-item" href="#">Dropdown 2</a>
						<a class="dropdown-item" href="#">Dropdown 3</a>
						<a class="dropdown-item" href="#">Dropdown 4</a>
						<a class="dropdown-item" href="#">Dropdown 5</a>
					</div>
				</li>
			</ul>
		</div>
	
	</nav>

	<div style="padding-top: 40px;" class="lobby">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 p-0">
					<ul class="nav nav-tabs m-auto" role="tablist">
						<li class="" role="presentation">
							<a href="#tab1" data-mdb-toggle="tab" class="active"> All </a>
						</li>
						<li role="presentation">
							<a href="#tab2" data-mdb-toggle="tab"> Live </a>
						</li>
						<li role="presentation"> 
							<a href="#tab3" data-mdb-toggle="tab"> RNG </a>
						</li>
						<li role="presentation">
							<a href="#tab4" data-mdb-toggle="tab"> Widget </a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="container-fluid">
								<div class="col-12 col-sm-12 p-0 portfolio">
									<div class="row p-0">
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/3-Player-TeenPatti.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/32Cards.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Akbar-Romeo-Walter.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<a href="/AB"><img class="img-fluid" src="../../../assets/images/Andar-Bahar.png"></a>
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Andar-Bahar-Classic.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Baccarart.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/BlackJack.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Casino-Queen.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Cricket-20-20.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Dragon-Tiger.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<a href="/GAB"><img class="img-fluid" src="../../../assets/images/Goa's-Andar-Bahar.png"></a>
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<a href="/KR"><img class="img-fluid" src="../../../assets/images/King-Race.png"></a>
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<a href="/LS"><img class="img-fluid" src="../../../assets/images/Lucky7.png"></a>
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Poker.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Roulette.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Super-Over.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<a href="TP"><img class="img-fluid" src="../../../assets/images/Teen-Patti.png"></a>
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Teen-Patti-Face-Off.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Worli-Matka.png">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<div class="container-fluid">
								<div class="col-12 col-sm-12 p-0 portfolio">
									<div class="row p-0">
										
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Andar-Bahar-Classic.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Baccarart.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/BlackJack.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Casino-Queen.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Cricket-20-20.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Dragon-Tiger.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Goa's-Andar-Bahar.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/King-Race.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Lucky7.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Poker.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Roulette.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Super-Over.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Teen-Patti.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Teen-Patti-Face-Off.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Worli-Matka.png">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab3">
							<div class="container-fluid">
								<div class="col-12 col-sm-12 p-0 portfolio">
									<div class="row p-0">
										
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Baccarart.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/BlackJack.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Casino-Queen.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Cricket-20-20.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Dragon-Tiger.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Goa's-Andar-Bahar.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/King-Race.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Lucky7.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Poker.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Roulette.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Super-Over.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Teen-Patti.png">
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab4">
							<div class="container-fluid">
								<div class="col-12 col-sm-12 p-0 portfolio">
									<div class="row p-0">
										
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Cricket-20-20.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Dragon-Tiger.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Goa's-Andar-Bahar.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/King-Race.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Lucky7.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Poker.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Roulette.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Super-Over.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Teen-Patti.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Teen-Patti-Face-Off.png">
												</div>
											</div>
										</div>
										<div class="port-content">
											<div class="port-inner">
												<div class="thumb">
													<img class="img-fluid" src="../../../assets/images/Worli-Matka.png">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
<script>
	const themeSwitch = document.querySelector('#switch');
        themeSwitch.addEventListener('change', () => {
          document.body.classList.toggle('dark');
        });

        const themeSwitch1 = document.querySelector('#switch-mobile');
        themeSwitch1.addEventListener('change', () => {
          document.body.classList.toggle('dark');
        });
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>